<section class="main">
  <div class="container pb-5 pt-4">
    <h1>Edit <%= @page.title %></h1>
    <%= simple_form_for(@page, url: admin_page_path) do |f| %>

      <div class="form-inputs">
        <%= f.input :hero_image, as: :file, hint: 'Max image size 3 MB', input_html: { accept: 'image/*' } %>
        <div class="form-group">
          <div class="quill-editor" data-image-base-url="<%= ENV['AWS_BUCKET_NAME'] %>" data-target="#page_description"><%= raw f.object.description %></div>
          <%= f.input :description, as: :hidden %> 
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</section>
