<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1>Page Settings</h1>
    </div>
    <div class="search-content pb-4">
      <% if @pages.present? %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="width-table-name">Title</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @pages.each do |page| %>
                <tr>
                  <td scope="row"><%= page.title %></td>
                  <td class="text-right">
                    <%= link_to edit_admin_page_path(page), class: 'btn btn-primary btn-sm' do %>
                      <i class="far fa-edit"></i> <span class="d-none d-sm-inline">Edit</span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <h4 class="text-center mt-5">No Result Found</h4>
      <% end %>
    </div>
  </div>
</section>

