<div class="page-header-title"></div>
<div class="row">
  <div class="col-lg-3 col-md-1 hidden-sm hidden-xs"></div>
  <div class="col-lg-6">
    <div id="login-form" class="text-center">
      <h4><%= I18n.t("devise.two_factor_authentication.max_login_attempts_reached") %> = <%= @limit %>.</h4>
      <p><%= I18n.t("devise.two_factor_authentication.contact_administrator") %></p>
    </div>
  </div>
</div>
