<section class="search-result">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <%= form_tag([resource_name, :two_factor_authentication], :method => :put, class: 'text-center border border-light p-3') do |f| %>
          <h1 class="h4 mb-4">Verify your account</h1>
          
          <p>Enter the 6 digit code sent to <%= current_user.email %></p>

          <div class="form-group email required user_email">
            <%= text_field_tag :code, '', autocomplete: 'off', autofocus: true, required: true, placeholder: 'Check your email for the temporary access code', class: 'form-control string email required' %>
          </div>

          <%= submit_tag 'Submit', class: 'btn btn-info btn-block my-4', id: 'log-submit' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
