footer {
  .btn-wrapper {
    text-align: center;
    width: 100%;

    .btn-footer {
      background: #AECA36;
      color: #000000;
      margin: 0.75rem 0px;
      min-width: 80px;
    }
  }
}

.booking-bottom {
  background: #0A871E;
  padding: 3px 5px;
  color: white;
  border-radius: 5px;
  margin: 5px 0;
  display: inline-block;

  &:hover, &:active {
    color: white;
  }
}

.dropdown-menu {
  legend {
    display: none;
  }
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}