html {
  height: 100%;
}

.fa.fa-heart.activated {
  color: red !important;

  span {
    color      : #979797 !important;
    font-weight: 400;
  }
}

.fa.fa-thumbs-up.activated {
  color: #3b5998 !important;

  span {
    color      : #979797 !important;
    font-weight: 400;
  }
}

.white-text {
  color: white;

  &:hover,
  &:active,
  &.active {
    color: white;
  }
}

.addthis_share_button,
.share-button-addthis {
  cursor: pointer;
}

#copy-link {
  &:after {
    content: 'Copy Link'
  }

  &:active:after {
    content: 'Copied!'
  }
}

.connect a {
  position        : relative;
  width           : 296px;
  background-color: #757575;
}

.connect a:hover {
  background-color: #757575;
  color           : #ffffff;
}

.search-button {
  cursor: pointer;

  input {
    cursor: pointer;
  }

  &:hover,
  &:active,
  &.active {
    text-decoration: none;
  }
}

.list-group.border-at-bottom {
  border-bottom: 1px solid #000000;
}

.table-responsive {
  table.table {
    .width-table-name {
      @media(max-width: 767px) {
        width: 180px;
      }
    }
  }

  &.table-appointment {
    font-size: 12px;

    table.table {
      .width-table-name {
        min-width: 110px;
      }

      .select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder, 
      .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
        line-height: 1.5rem;
      }

      .select2-container--bootstrap4 .select2-selection--single {
        height: calc(1.5rem + 2px) !important;
      }

      .form-control {
        font-size: 12px;
        height: calc(1.5em + 10px);
      }
    }
  }
}

.notification-list {
  .list-group-item a {
    display: inline-block;
    color  : #007bff;
  }
}

.article-details {
  img {
    max-width: 100%;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-right {
    text-align: right;
  }

  .ql-align-justify {
    text-align: justify;
  }
}

.ql-snow .ql-color-picker .ql-picker-label svg,
.ql-snow .ql-icon-picker .ql-picker-label svg {
  margin-top: -6px;
}

.hidden {
  display: none;
}

.error-form {
  ul {
    padding-left : 20px;
    margin-bottom: 0px;
  }
}

.invalid-feedback {
  text-align: left;
}

.cropper-preview-wrapper {
  width   : 100% !important;
  overflow: hidden;
  padding : 0px;

  img {
    max-width: 100%;
  }
}

.cropper-input-wrapper {}

.cropper-container.cropper-bg {
  width: 100% !important;
}

.form-control:disabled,
.form-control[readonly] {
  background: white;
}

#search-section-trigger {
  cursor: pointer;

  input {
    cursor: pointer;
  }
}

#social_media {
  @media (max-width: 767px) {
    margin-top: 15px;
  }
}

.social-media-link {
  display     : inline-block !important;
  margin-right: 15px;

  @media (max-width: 767px) {
    margin-bottom: 15px;
    display      : block !important;
    margin-right : 0px;
  }

  .fab {
    margin-right: 5px;
    font-size   : 18px;
  }

  .button-wrapper {
    border       : solid 1px;
    padding      : 6px 10px;
    border-radius: 3px;
    color        : white;

    @media (max-width: 767px) {
      text-align: center;
    }

    &.facebook {
      border-color: #3b5998;
      background  : #3b5998;
    }

    &.instagram {
      border-color: #E1306C;
      background  : #E1306C;
    }

    &.twitter {
      border-color: #1DA1F2;
      background  : #1DA1F2;
    }

    &.linkedin {
      border-color: #2867B2;
      background  : #2867B2;
    }
  }
}

.search-result-view-result {
  p.search-icon {
    font-size: 16px;
  }
}

.search-title {
  .search-icon {
    padding-left: 40px;
    position    : relative;

    i {
      font-size: 30px;
      position : absolute;
      left     : 0px;
      top      : -10px;
    }
  }
}

.list-group-structure {
  a[aria-expanded=true] {
    font-weight: bold;
  }

  .active-list {
    span {
      background : #AECA36;
      font-weight: bold;
    }
  }
}

#toogle-no-current-location-marker {
  width            : 40px;
  height           : 25px;
  border-bottom    : 2px solid #AECA36;
  -webkit-transform: translateY(20px) translateX(5px) rotate(-45deg);
  position         : absolute;
  top              : -33px;
  left             : -25px;
}

.offcanvas-collapse {
  hr {
    border-top  : solid 1px white;
    width       : 95%;
    border-style: dashed;
  }
}

.ihono-post {
  background: #37474F;

  .connect a {
    color: white;
    background: none;
  }
}