@import '~quill/dist/quill.core';
@import '~quill/dist/quill.snow';

abbr[title="required"] {
  color: #EB586F;
}

.select2-container {
  width: 100% !important;
}

.map-style {
  height: 500px;
  width: 100%;
  margin-top: 15px;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 600px;
  margin-top: 10px;
  height: 40px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.quill-editor {
  height: 500px;
}