#map-body {
  margin-bottom: 0px;
  height: 100%;

  .corona {
    height: 100%;

    .corona-header {
      margin-bottom: 0px;
    }
  }

  .main {
    height: 100%;
    position: relative;

    #search-map{
      height: 100%;

      .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
        position: fixed !important;
        bottom: 220px !important;
      }

    }

    #modal-info-map {
      padding: 15px;
      position: fixed;
      left: 50%;
      margin-left: -170px;
      bottom: 70px;
      width: 340px;
      min-height: 133px;
      background: white;
      border-radius: 10px;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);

      @media (max-width: 991px) {
        bottom: 75px;
      }

      @media (max-width: 767px) {
        bottom: 80px;
      }

      .header {
        .close {
          margin-top: -5px;

          &:active, &:hover {
            outline: none;
          }
        }
      }

      h3 {
        font-size: 1.25em;
        padding-right: 20px;
        
        a {
          color: #212529;
        }
      }

      .description {
        min-height: 55px;
        overflow: hidden;
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 2;
      }

      .icon {
        margin-bottom: 0px;
        color: #ccc;
        font-size: 13px;
        padding-left: 30px;
        position: relative;

        [class*='ihono-icon'] {
          font-size: 24px;
          position: absolute;
          left: 0px;
          bottom: -9px;
        }
      }
    }
  }

  #asking-location, #not-support-location {
    span {
      padding-right: 35px;
      display: inline-block;
    }

    button.close {
      position: absolute;
      right: -15px;
    }
  }
}
