html {
  position  : relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  padding-top   : 60px;
}

/* Header */
.bg-black {
  background-color: #000000;
}

.navbar a:hover {
  color: #AECA36;
}

.logo img {
  width : 148px;
  height: 34px;
}

.icon {
  color    : #AECA36;
  font-size: 21px;
}

.nav-item a {
  font-family   : 'Roboto', sans-serif;
  font-size     : 14px;
  letter-spacing: 0.0357143em;
  text-transform: uppercase;
  color         : #fff;
}

.fa-chevron-down {
  margin-left: 20px;
}

/* jumbotron */
.home-page {
  margin-top: -60px;
}

.home-page .logo {
  filter: brightness(100%);
}

.find {
  height: 144px;
}

.jumbotron {
  text-align   : center;
  height       : 100%;
  margin-bottom: 0;
  border-radius: 0;
}

.jumbotron.bg-covid-19 {
  background: repeating-linear-gradient(
    135deg,
    #F8CC46,
    #F8CC46 9px,
    #FFF 9px,
    #FFF 10px
  );

  .connect a {
    background: none;
  }
}

.lead {
  font-family   : 'Libre Franklin', sans-serif;
  font-size     : 16px;
  line-height   : 19px;
  letter-spacing: 0.03em;
  color         : #AECB36;
  filter        : brightness(100%);
}

.bg-cover {
  background-image   : url('https://ihono-assets-staging.manawa.nz/home-background/home-1.jpg');
  background-size    : cover;
  background-position: center center;
  position           : relative;
}

.bg-map {
  background-image   : url('https://ihono-assets-staging.manawa.nz/home-background/map.jpg');
  background-size    : cover;
  background-position: center center;
}

.overlay {
  background    : linear-gradient(180deg, rgba(255, 255, 255, 0) 13.02%, #FFFFFF 95.31%), #000000;
  mix-blend-mode: multiply;
  opacity       : 0.6;
  position      : absolute;
  top           : 0;
  left          : 0;
  bottom        : 0;
  right         : 0;
}

.search-people {
  padding-top: 8rem;
  width      : 296.5px;
  margin     : 0 auto;
}

.search-people input.form-control {
  outline                  : none;
  box-shadow               : none;
  border-top-left-radius   : 17px;
  border-bottom-left-radius: 17px;
}

.search-people button {
  outline                   : none;
  box-shadow                : none;
  border-top-right-radius   : 17px;
  border-bottom-right-radius: 17px;
  color                     : #999999;
}

.connect button {
  position        : relative;
  width           : 296px;
  background-color: #757575;
  mix-blend-mode  : multiply;
}

.connect button:hover {
  background-color: #757575;
  color           : #ffffff;
}

.connect span {
  font-family     : 'Open Sans', sans-serif;
  color           : #ffffff;
  font-size       : 16px;
  font-weight     : 600;
  line-height     : 22px;
  background-color: #757575;
  mix-blend-mode  : normal;
}

.connect .right {
  position: absolute;
  right   : 1rem;
  top     : 11px;
}

/* Content */
.article {
  font-family        : 'Libre Franklin', sans-serif;
  font-style         : normal;
  overflow           : hidden;
  position           : relative;
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
}

.article::after {
  content: "";
  display: table;
  clear  : both;
}

.article .article-image {
  position        : absolute;
  top             : 0;
  right           : 0;
  bottom          : 0;
  left            : 0;
  background-color: #000000;
}

.article .article-image img {
  width     : 100%;
  height    : 100%;
  top       : 0;
  left      : 0;
  transform : none;
  object-fit: cover;
  opacity   : 0.4;
}

.article .article-entry {
  position: relative;
}

.article-index {
  height: auto;
}

.article-header .article-entry .article-title {
  font-weight: 600;
  font-size  : 22px;
  color      : #fff;
}

.article-info {
  font-family: 'Open Sans', sans-serif;
  color      : #fff;
  font-size  : 14px;
}

.article-entry .article-title {
  margin-bottom: 20px;
  font-weight  : 600;
  font-size    : 30px;
  color        : #fff;
}

.article-entry .article-title-details {
  font-weight: bold;
  font-size  : 52px;
  color      : #fff;
  margin-top : 264px;
}

.article-likes {
  font-family: 'Open Sans', sans-serif;
  color      : #979797;
  font-size  : 14px;

  a {
    color          : inherit;
    text-decoration: none;
  }
}

.article-likes i {
  font-size: 21px;
}

.article-details {
  margin-top : 0;
  font-family: 'Open Sans', sans-serif;
}

.article-details p {
  font-size  : 22px;
  line-height: 35px;
}

.article-details p:first-child:first-letter {
  font-family: Georgia, Times, Times New Roman, serif;
  font-size  : 50px;
  font-weight: 500;
}

.article-info img {
  height    : 40px;
  width     : 40px;
  object-fit: cover;
}

.article-tags a {
  font-family    : 'Open Sans', sans-serif;
  display        : inline-block;
  padding        : 7px 8px;
  font-size      : 14px;
  font-weight    : 400;
  color          : #979797;
  background     : #eeeeee;
  margin-right   : 5px;
  margin-bottom  : 8px;
  text-decoration: none;
}

.article-tags a:hover {
  background-color: #e7e7e7;
}

.article-share,
.article-share a {
  font-family    : 'Open Sans', sans-serif;
  color          : #757575;
  font-size      : 16px;
  text-decoration: none;
}

.article-share i {
  font-size: 21px;
}

.bg-facebook {
  background-color: #3b5998;
}

.bg-twitter {
  background-color: #1da1f2;
}

.bg-linkedin {
  background-color: #0077b5;
}

.bg-mail {
  background-color: #c71610;
}

.bg-copy {
  background-color: #08851b;
}

/* Search */
.search .container {
  position: relative;
}

.btn.focus,
.btn:focus {
  outline   : 0;
  box-shadow: none;
}

.btn-ihono {
  font-family     : 'Roboto', sans-serif;
  font-weight     : 500;
  font-size       : 14px;
  line-height     : 16px;
  letter-spacing  : 0.0357143em;
  text-transform  : uppercase;
  color           : #FFFFFF;
  background-color: #37474F;
  border-color    : #37474F;
  border-radius   : 0;
}

.btn-ihono:hover,
.btn-ihono:focus,
.btn-ihono:active {
  color           : #FFFFFF;
  background-color: #5D6D75;
  border-color    : #37474F;
  outline         : none;
}

.search-icon .input-group-text {
  color: #999999;
}

.input-group-append .fa-times {
  color: rgba(0, 0, 0, 0.54);
}

.search-input .form-control {
  border-right: 0;
  border-top  : 0;
  border-left : 0;
}

.search-input input.form-control {
  outline   : none;
  box-shadow: none;
}

.search-input button {
  outline: none;
}

.filter {
  position: absolute;
  left    : 0;
  right   : 0;
  top     : 65px;
}

.search .filter a {
  font-family   : 'Roboto', sans-serif;
  font-size     : 14px;
  font-weight   : 500;
  letter-spacing: 0.0357143em;
  text-transform: uppercase;
  color         : #000000;
  display       : inline;
}

.search-wrapper {
  font-family: 'Open Sans', sans-serif;
  margin-top : 20px;
}

.search-wrapper .search-item {
  padding         : 12px;
  margin-bottom   : 15px;
  border-radius   : 7px;
  background-color: #eeeeee;
}

.search-wrapper .search-result-item {
  padding         : 12px;
  border-bottom   : 1px solid #C4C4C4;
  background-color: #eeeeee;
}

.search-wrapper .search-item h5 {
  font-size  : 16px;
  font-weight: bold;
}

.search-wrapper .search-item p {
  font-size: 14px;
}

.search-wrapper .search-item .society,
.search-wrapper .search-result-item .see-all {
  color         : #999999;
  font-size     : 12px;
  font-weight   : bold;
  text-transform: uppercase;
}

.search-wrapper .search-item .society-icon {
  font-size: 16px;
}

.search-wrapper .result-icon {
  font-size : 21px;
  width     : 40px;
  text-align: center;
}

.search-icon {
  color    : #999999;
  font-size: 16px;
}

.search-icon i {
  font-size: 21px;
}

/* custom-fill-checkbox */
.custom-control.fill-checkbox {
  color: #757575;
}

.custom-control.fill-checkbox .fill-control-input {
  display: none;
}

.custom-control.fill-checkbox .fill-control-input:checked~.fill-control-indicator {
  background-color: #757575;
  border-color    : #757575;
  background-size : 80%;
}

.custom-control.fill-checkbox .fill-control-indicator {
  border-radius      : 3px;
  display            : inline-block;
  position           : absolute;
  top                : 4px;
  left               : 0;
  width              : 16px;
  height             : 16px;
  border             : 2px solid #aaa;
  transition         : .3s;
  background         : transperent;
  background-size    : 0%;
  background-position: center;
  background-repeat  : no-repeat;
  background-image   : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.search-result {
  font-family: 'Libre Franklin', sans-serif;
  font-style : normal;
}

.search-result .breadcrumb {
  font-family     : 'Libre Franklin', sans-serif;
  font-style      : normal;
  font-size       : 12px;
  background-color: #ffffff;
  padding         : 0;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "»";
}

.search-result .search-image {
  position     : relative;
  width        : 960px;
  padding-right: 15px;
  padding-left : 15px;
  margin       : 0 auto;
}

.search-result .search-image img {
  width: 100%;
}

.search-result .search-image-icon {
  position : absolute;
  bottom   : 12px;
  right    : 31px;
  color    : #ffffff;
  font-size: 25px;
}

.search-title p {
  font-size: 16px;
}

.search-content li {
  font-size: 14px;
  padding  : 10px 0;
}

.search-content .list-search:last-child {
  border-bottom: 1px solid #C4C4C4;
}

.search-content .border-black:last-child {
  border-bottom: 1px solid #000000;
}

.search-content .list-new-search {
  border-top: 1px solid #000000;
}

.search-content .list-new-search:last-child {
  border-bottom: 0;
}

/* chevron-down */
.chevron-down>a {
  display : block;
  position: relative;
}

.chevron-down>a:after {
  content    : "\f078";
  font-family: "Font Awesome 5 Free";
  position   : absolute;
  right      : 15px;
}

.chevron-down>a[aria-expanded="true"]:after {
  font-family: "Font Awesome 5 Free";
  content    : "\f077";
}

.search-content .list-group-item a {
  text-decoration: none;
  color          : #000000;
  display        : block;
}

.search-content .right {
  position: absolute;
  right   : 1rem;
  top     : 16px;
}

.search-content .list-group-item .list-search {
  border: 1px solid #C4C4C4;
}

.search-content .border-black .list-group-item {
  border: 1px solid #000000;
}

.search-content .list-group-flush .list-group-item {
  border-right : 0;
  border-left  : 0;
  border-radius: 0;
}

.list-new-details .media,
.list-new-details .media h6 {
  font-size  : 14px;
  line-height: 24px;
}

/* Corona Page */
.corona .corona-header {
  background: repeating-linear-gradient(
    135deg,
    #F8CC46,
    #F8CC46 9px,
    #FFF 9px,
    #FFF 10px
  );
  text-align: center;
  padding: 19px 0;
  margin-bottom: 16px;
}

.corona .header-map {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.corona .main.main-map {
  padding-top: 125px;
}

.corona a:hover {
  text-decoration: none;
}

.corona .corona-header h2.corona-title {
  font-weight: 600;
  margin: 0;
}

.corona .item {
  color: #000;
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  align-items: center;
  box-shadow: 
    0 2px 2px 0 rgba(0, 0, 0, 0.16), 
    0 0 0 1px rgba(0, 0, 0, 0.08);
}

.corona .item:nth-child(odd) {
  background: #F8CC46;
}

.corona .item:nth-child(even) {
  background:rgba(76, 181, 171, 0.5);
}

.corona .item .article {
  flex: 1;
  margin-right: 6px;
}

.corona .item .article h3 {
  font-size: 24px;
  font-weight: bold;
}

.corona .item .article p {
  font-size: 18px;
  margin: 0;
}

.corona form {
  font-size: 14px;
  font-weight: normal;
  margin: 16px 0;
}

.corona form label{
  font-size: 14px;
  font-weight: bold;
  /* margin: 0; */
}

.corona form label > span{
  font-weight: normal;
}

.corona form button {
  background-color: #0A871E;
}

.corona .item-detail {
  color: #000;
  display: flex;
  padding: 16px;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,.125);
}

.corona .item-detail:first-of-type {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,.125);
}

.corona .item-detail .article {
  flex: 1;
  margin-right: 6px;
}

.corona .item-detail .article p {
  font-size: 18px;
  margin: 0;
}

.corona .item-detail .article p .fas {
  color: #AECA36;
  padding-right: 15px;
}

/* Footer */
.footer {
  position        : fixed;
  bottom          : 0;
  width           : 100%;
  height          : 60px;
  background-color: #000000;
  border-top      : 1px solid transparent;
  box-shadow      : 0 1px 5px rgba(0, 0, 0, 0.2);
}

.footer-search-result {
  position        : fixed;
  bottom          : 0;
  width           : 100%;
  height          : 60px;
  background-color: #979797;
  border-top      : 1px solid transparent;
  box-shadow      : 0 1px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  border-top: 1px solid transparent;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.selectors a {
  border       : 0;
  border-radius: 0;
  margin-left  : 0;
  margin-top   : 15px;
}

.selectors .add {
  margin-top: 0;
}

.selectors a:active {
  border: 0;
}

.selectors a:focus {
  border    : 0;
  outline   : 0;
  box-shadow: 0 0 0 0px;
}

.selector-holder {
  display       : flex;
  flex-direction: column;
  position      : relative;
}

.selector-holder i {
  font-size: 21px;
}

.notification {
  position: relative;
}

.notification .count {
  position        : absolute;
  right           : 0px;
  top             : 0;
  padding         : .2em .5em;
  background-color: #ff0000;
  color           : #ffffff;
  font-size       : 12px;
  border-radius   : 1rem;
}

/* Colors of the buttons*/
.fa-dark {
  color: #000000;
}

.footer-search-result .fa-dark {
  color: #ffffff;
}

.footer-search-result .fa-circle {
  color: #37474F;
}

.footer-search-result .fa-plus {
  font-size: 16px;
}

.add {
  font-size: 1.5em;
}

.btn-sign {
  background-color: #EEEEEE;
  color           : #37474F;
  font-size       : 14px;
}

.button-active,
.selectors a:hover,
.selectors a:active,
.selectors a:focus {
  color: #AECA36;
}

.footer-search-result .add {
  position: relative;
  top     : -15px;
  color   : #FFFFFF;
}

.footer-search-result .button-active,
.selectors a:hover,
.selectors a:active,
.selectors a:focus,
.footer-search-result .button-inactive {
  color: #FFFFFF;
}

.button-inactive {
  color: #AECA36;
}

/* Menu Off-canvas */
.offcanvas-collapse {
  position           : fixed;
  padding-top        : 15px;
  top                : 0;
  bottom             : 60px;
  right              : -300px;
  width              : 300px;
  padding-right      : 1rem;
  overflow-y         : auto;
  visibility         : hidden;
  background-color   : #000000;
  transition-duration: .3s;
  transition-property: right, visibility;
}

.offcanvas-collapse {
  align-items            : start;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding;
  background-clip        : padding-box;
  border-left            : 5px solid rgba(0, 0, 0, 0.2);
}

.offcanvas-collapse.open {
  right     : 0;
  visibility: visible;
  z-index   : 2;
}

.offcanvas-collapse .list-group-item {
  background-color: #000000;
}

.offcanvas .list-group-item a {
  text-decoration: none;
  font-size      : 14px;
  font-weight    : 500;
  color          : #ffffff;
  font-family    : 'Roboto', sans-serif;
  display        : block;
}

.offcanvas .list-group-item p {
  display: inline-block;
  margin : 0;
}

// .right {
//   position: absolute;
//   right   : 1rem;
//   top     : 20px;
// }

/* Responsive */
@media (max-width: 991px) {
  .jumbotron.bg-covid-19 .connect{
    margin-top: -40px;
  }
}

@media (max-width: 768px) {
  .search-result .search-image {
    width        : 100%;
    padding-right: 0;
    padding-left : 0;
  }

  .jumbotron.ihono-post .connect {
    margin-top: -20px;
  }
}

@media (max-width: 575.98px) {

  /* Header */
  .navbar {
    padding-right: 0;
    padding-left : 0;
  }

  /* Article */
  .article-index .article-entry .article-title {
    font-size: 22px;
    height   : auto;
  }

  .article-entry .article-title {
    margin-bottom: 5px;
    width        : 324px;
    font-size    : 37px;
    height       : 490px;
  }

  .article-entry .article-title-details {
    font-size : 39px;
    margin-top: 100px;
  }

  .article-details p {
    font-size  : 17px;
    line-height: 25px;
  }

  .offcanvas-collapse {
    width : 100%;
    border: none;
  }

  /* Modal Filter */
  .modal-full {
    min-width: 100vw;
    margin   : 0;
  }

  .modal-full .modal-content {
    margin: 0 15px;
  }

  .search-result .search-image-icon {
    right: 16px;
  }

  .search-result .search-image {
    width        : 100%;
    padding-right: 0;
    padding-left : 0;
  }

  .search-title h1 {
    font-weight: bold;
    font-size  : 21px;
  }

  .connect {
    padding-top: 1rem;
  }

  .jumbotron.bg-covid-19 .connect{
    margin-top: -10px;
    padding-top: 0px;
  }

  .jumbotron.ihono-post .connect {
    margin-top: auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .jumbotron.bg-covid-19 .connect{
    margin-top: -40px;
  }

  .jumbotron.ihono-post .connect {
    margin-top: -10px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
