#sort-filter-wrapper {
  .select2-hidden-accessible {
    display: none;
  }
  
  .sort-filter {
    cursor: pointer;
  
    &.active {
      color: #007bff;
  
      &[data-sort-position="asc"] {
        &:after {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          content: "\f0de";
          margin-left: 5px;
        }
      }
  
      &[data-sort-position="desc"] {
        &:after {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          content: "\f0dd";
          margin-left: 5px;
        }
      }
    }
  }
}