<%= simple_form_for([:admin, organisation, location]) do |f| %>
  <%= bootstrap_error(location) %>
  <%= text_field_tag 'pac-input', nil, id: 'pac-input', class: 'controls', placeholder: 'Enter your addresshere', value: f.object.address %>
  <div id="map" class="map-style" data-target='location' data-google-map-id="<%= ENV['GOOGLE_MAP_API_KEY'] %>"></div>
  <div class="hide">
    <%= f.hidden_field :latitude, readonly: true %>
    <%= f.hidden_field :longitude, readonly: true %>
    <%= f.hidden_field :country, readonly: true %>
  </div>
  <%= f.input :address %>
  <%= f.input :suburb %>
  <%= f.input :postcode %>
  <%= f.input :contact %>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>