<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1>Location of <%= @organisation.name %></h1>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 text-right">
        <% if current_user.present? %>
          <%= link_to 'new location', new_admin_organisation_location_path(@organisation), class: 'btn btn-primary btn-md' %>
        <% end %>
      </div>
    </div>
    <div class="search-content pb-4">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="width-table-name">Address</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @locations.each do |location| %>
              <tr>
                <td>
                  <%= location.address %>
                </td>
                <td class="text-right">
                  <%= link_to edit_admin_organisation_location_path(@organisation, location), class: 'btn btn-primary btn-sm' do %>
                    <i class="far fa-edit"></i> <span class="d-none d-sm-inline">Edit</span>
                  <% end %>
                  <%= link_to admin_organisation_location_path(@organisation, location), data: { confirm: "Are you sure to delete location" }, method: :delete, class: 'btn btn-danger btn-sm' do %>
                    <i class="fas fa-trash"></i> <span class="d-none d-sm-inline">Delete</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>