<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1 class="text-center">Thanks, that’s all we need to get you signed up for now.</h1>
    </div>
    <div class="search-content text-center pb-5">
      <p>Thanks <%= current_user.username %> - That's all we need to get you sign up for now</p>
      <p>Select My Profile or go back to the īHono Dashboard to keep exploring. Just use the menu button at the bottom of the screen</p>
      <p>Otherwise - go back to the Ihono Dashboard and start your journey</p>
      <div class="btn-group mt-5">
        <%= link_to 'DASHBOARD', root_path, class: 'btn btn-sm btn-info' %> &nbsp;&nbsp;
        <%= link_to 'MY PROFILE', users_profile_index_path, class: 'btn btn-sm btn-info' %>
      </div>
    </div>
  </div>
</section>