<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1>Username and password</h1>
    </div>
    <div class="search-content pb-5">
      <%= simple_form_for @user, url: wizard_path, method: :put do |f| %>
        <%= f.input :username,
                      required: true,
                      autofocus: true %>
        <%= f.input :password,
                      required: true %>
        <div class="log-line">
          <div class="float-right">
            
          </div>
        </div>
        <%= f.button :submit, 'Next', class: 'btn btn-primary', id: 'log-submit' %>
      <% end %>
    </div>
  </div>
</section>

