<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1>Tell us your name</h1>
    </div>
    <div class="search-content pb-5">
      <%= simple_form_for @user, url: wizard_path, method: :put do |f| %>
        <%= f.input :first_name,
                      required: true,
                      autofocus: true %>
        <%= f.input :last_name, 
                      required: true %>
        <%= f.button :submit, 'Next', class: 'btn btn-primary', id: 'log-submit' %>
      <% end %>
    </div>
  </div>
</section>
