<div class="search-item">
  <a href="#" class="text-decoration-none text-body">
    <h5>Jenny Reece-Hauraki</h5>
    <p>Te Arawa, Tainui Digital Advisor, Department of Conservation Passionate about my whānau, and looking to...</p>
    <span class="society"><i class="fas fa-user society-icon mr-1"></i> PEOPLE</span>
  </a>
</div>