<section class="search">
  <div class="container" id="search-group-wrapper">
    <div class="input-group search-input mb-3 pt-3">
      <div class="input-group-prepend search-icon">
        <span class="input-group-text bg-white border-0"><i class="fas fa-search"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="search by keyword..." id="search-input">
      <div class="input-group-append">
        <button type="reset" class="input-group-text bg-white border-0">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
</section>

 <section class="search-result">
  <div class="container">
    <div class="search-wrapper" id="search-result-wrapper">
      <%= render :partial => 'result', collection: @results, as: :result %>
    </div>
  </div>
</section>