<!-- Begin page Content -->
<section class="search-result">
  <div class="container">
    <div class="search-title pt-4 pb-2">
      <h1>Result of <%= @view_results[:keyword] %></h1>
      <div class="search-icon">
        <i class="<%= @view_results[:icon_group] %>"></i> <%= @view_results[:group].upcase %>
      </div>
    </div>

    <div class="search-content pb-4">
      <ul class="list-group list-group-flush border-black ">
        <% if @view_results[:results].present? %>
          <% @view_results[:results].each do |result| %>
            <li class="list-group-item">
              <%= link_to result[:link] do %>
                <%= result[:name] %> <i class="right fas fa-chevron-right"></i>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</section>