<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title pt-3">
      <h1><%= @wharenui.name %></h1>
      <p><%= @wharenui.abstract %></p>
    </div>
  </div>
</section>