<section class="search-result">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'text-center border border-light p-3' }) do |f| %>
          <h1 class="h4 mb-4">Login</h1>
          <%= f.input :login,
                        required: false,
                        autofocus: true,
                        label: false,
                        placeholder: 'Username or Email',
                        input_html: { autocomplete: "login", class: 'mb-4' } %>
          <%= f.input :password,
                        required: false,
                        label: false,
                        placeholder: 'password',
                        input_html: { class: 'mb-4' } %>
          <div class="d-flex justify-content-around">
            <div>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %>
            </div>
          </div>
          <%= f.button :submit, 'Log in', class: 'btn btn-info btn-block my-4', id: 'log-submit' %>
          <p>
            Not a member? <%= link_to "Sign Up", new_registration_path %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>
