<% post_presenter = PostPresenter.new(post) %>

<div class="article article-index">
  <%= link_to corona_post_path(post_presenter.slug), class: 'text-decoration-none' do %>
    <div class="article-image">
      <%= image_tag post_presenter.cover_thumbnail_image %>
    </div>
    <div class="article-entry container p-4">
      <h1 class="article-title"><%= post_presenter.title %></h1>
      <div class="article-info">
        <span class="article-date"><%= full_date(post_presenter.created_at) %></span>
        <span class="article-more d-flex justify-content-end"><i class="fas fa-arrow-right"></i></span>
      </div>
    </div>
  <% end %>
</div>