<!-- Filter and Sort -->
<div class="bg-black pb-2">
  <div class="container">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a href="#" class="nav-link" style="color: white; cursor: pointer;" data-target="#filter-modal" data-toggle="modal" data-type='category' aria-expanded="false">
          CATEGORY <i class="fas fa-chevron-down"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" style="color: white; cursor: pointer;" data-target="#filter-modal" data-toggle="modal" data-type='region' aria-expanded="false">
          REGION <i class="fas fa-chevron-down"></i>
        </a>
      </li>
    </ul>
    
    <!-- Filter Modal -->
    <div class="modal fade" id="filter-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-full modal-dialog-centered" role="document">
        <div class="modal-content">
          <%= simple_form_for @search, url: corona_posts_path, method: :get do |f| %>
            <div class="modal-header">
              <h5 class="modal-title">Filter <span id="title"></span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="filters-category" class="filter-selection">
                <%= f.input :category, required: false, as: :radio_buttons, collection: SearchPost.category_filter, label: false %>
              </div>
              <div id="filters-region" class="filter-selection" style="display: none;">
                <%= f.input :region, required: false, as: :radio_buttons, collection: SearchPost.region_filter, label: false %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Begin page content -->
<section class="main" id="post-infinite-scroll"> 
  <%= render partial: 'post', collection: @posts, as: :post %>
  <%= render partial: 'pagination' %>
</section>
