$('<%= escape_javascript(render(partial: "post", collection: @posts, as: :post)).html_safe %>').insertBefore( '#pagination-wrapper' );
$('#pagination-wrapper').replaceWith("<%= escape_javascript(render 'pagination').html_safe %>");