<!-- Begin page Content -->
<% post_presenter = PostPresenter.new(@post) %>
<section class="main">
  <div class="article">
    <div class="article-image">
      <%= image_tag post_presenter.cover_image %>
    </div>
    <div class="container">
      <div class="article-entry pb-4">
        <h1 class="article-title-details"><%= post_presenter.title %></h1>
        <div class="row">
          <div class="col-12">
            <%= image_tag 'line.png', style: 'width: 100%;' %>
          </div>
        </div>
        <div class="article-info mt-4">
          <%= image_tag post_presenter.user_avatar, class: 'rounded-circle border border-light' %>
          <span class="pl-3"><%= link_to post_presenter.user_fullname, user_path(post_presenter.user), class: 'white-text' %></span>
          <span class="pl-1">|</span>
          <span class="article-date pl-1"><%= full_date(post_presenter.created_at) %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container pb-4">
    <div class="article-likes text-right mt-4 mr-2 mr-lg-4">
      <%= render partial: 'posts/like_counter', locals: {post: post_presenter } %>
      
    </div>
    <div class="article-details">
      <%= raw post_presenter.content %>
    </div>
    
    <div class="article-share d-flex justify-content-between mt-4 mb-5">
      <%= render 'like_favorite_share' %>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="article-share" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title mx-auto">SHARE IT ON :</h5>
        </div>
        <div class="modal-body">
          <div class="p-2 mb-3 bg-facebook text-center rounded">
            <a class="addthis_share_button text-white text-decoration-none" 
                data-service="facebook" 
                data-url="<%= post_url(post_presenter.slug) %>" 
                data-description="<%= post_presenter.content.strip %>" 
                data-title="<%= "Ihono | #{post_presenter.title}" %>">
                <i class="fab fa-facebook-f"></i> Facebook
            </a>
          </div>
          <div class="p-2 mb-3 bg-twitter text-center rounded">
            <a href="" class="addthis_share_button text-white text-decoration-none"
                data-service="twitter" 
                data-url="<%= post_url(post_presenter.slug) %>" 
                data-description="<%= post_presenter.content.strip %>" 
                data-title="<%= "Ihono | #{post_presenter.title}" %>">
              <i class="fab fa-twitter"></i> Twitter
            </a>
          </div>
          <div class="p-2 mb-3 bg-linkedin text-center rounded">
            <a href="" class="addthis_share_button text-white text-decoration-none"
                data-service="linkedin" 
                data-url="<%= post_url(post_presenter.slug) %>" 
                data-description="<%= post_presenter.content.strip %>" 
                data-title="<%= "Ihono | #{post_presenter.title}" %>">
              <i class="fab fa-linkedin-in"></i> Linkedin
            </a>
          </div>
          <div class="p-2 mb-3 bg-mail text-center rounded"><a href="mailto:?body=<%= post_url(post_presenter.slug) %>" class="text-white text-decoration-none"><i class="fas fa-envelope"></i> Email</a></div>
          <div class="p-2 mb-3 bg-copy text-center rounded">
            <div style="height: 0px; padding: 0px; margin: 0px; position: absolute; left: -99999999px;">
              <input type="text" value="<%= post_url(post_presenter.slug) %>" id="myInput">
            </div>
            
            <a class="share-button-addthis text-white text-decoration-none" id="copy-link" onclick="copyTextInput()">
              <i class="fas fa-link fa-flip-horizontal"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  function copyTextInput() {
    /* Get the text field */
    var copyText = document.getElementById("myInput");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");
    console.log('copy')
  }
</script>