<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1>Appointments</h1>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= simple_form_for :search, method: :get do |f| %>
          <div class="input-group mb-3">
            <%= f.input :keyword, required: false, label: false, wrapper: false, placeholder: 'search by keyword', input_html: { name: 'keyword', value: params[:keyword] } %>
            <div class="input-group-prepend">
              <%= f.submit :search, class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="search-content pb-4">
      <% if @appointments.present? %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="width-table-name">Health Provider</th>
                <th class="width-table-name">Booking Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @appointments.each do |appointment| %>
                <% appointment_presenter = AppointmentPresenter.new(appointment) %>
                <tr>
                  <td scope="row"><%= appointment_presenter.health_provider.name %></td>
                  <td scope="row"><%= appointment_presenter.date_time_booking %></td>
                  <td class="text-right">
                    <%= link_to corona_appointment_path(appointment), class: 'btn btn-primary btn-sm' do %>
                      <i class="far fa-eyes"></i> <span class="d-none d-sm-inline">Show</span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="mt-1 text-right"><%= paginate @appointments, theme: 'twitter-bootstrap-4', window: 1 %></div>
      <% else %>
        <h4 class="text-center mt-5">No Result Found</h4>
      <% end %>
    </div>
  </div>
</section>