<% health_provider_presenter = HealthProviderPresenter.new(@health_provider) %>
<section class="corona">
  <div class="corona-header">
    <h2 class="corona-title">COVID-19</h2>
  </div>

  <div class="container">
    <%= simple_form_for @appointment, url: corona_health_provider_appointment_path(@health_provider, @appointment) do |f| %>
      <h3>Request an appointment at: <br class="d-block d-sm-none"/><%= health_provider_presenter.name %></h3>
      <p>
        Please complete the following form and we'll get back to you to organise an appointment: <br>
        <i>*All fields are compulsory</i>
      </p>
      <%= bootstrap_error(@appointment) %>
      <h4>Appointment</h4>
      <%= f.input :appointment_date, label: 'Date :', as: :string, input_html: { class: 'readonly', autocomplete: 'new-date', data: { toggle: 'datepicker', date: true } } %>
      <%= f.input :appointment_time, label: 'Time :', as: :string, input_html: { class: 'readonly', autocomplete: 'new-time', data: { toggle: 'timepicker', options: health_provider_presenter.get_min_max_time } } %>
      <hr>
      <h4>Contact details</h4>
      <%= f.input :name, label: 'Your name :', placeholder: 'Enter Name' %>
      <%= f.input :address, label: 'Your address', placeholder: 'Enter Address' %>
      <%= f.input :email, label: 'Your email', placeholder: 'Enter Email'  %>
      <%= f.input :cell_phone, label: 'Your Cell Phone', placeholder: 'Enter Cell Phone', input_html: { data: { phone: true } } %>
      <%= f.input :home_phone, label: 'Your Home Phone', placeholder: 'Enter Home Phone', input_html: { data: { phone: true } } %>
      <%= f.input :age, label: 'Age :', collection: AGE_LIST, include_blank: 'Select the relevant age range', required: true %>
      <hr>
      <h4>About you</h4>
      <fieldset class="form-group check_boxes required">
        <%= f.input :health_care_worker, as: :boolean, label: 'Are you a health care worker' %>
        <%= f.input :essential_services_worker, as: :boolean, label: 'Are you an essential services worker' %>
        <%= f.input :contact_with_corona, as: :boolean, label: 'Have you had contact with anyone with Covid-19' %>
        <%= f.input :travel_overseas, as: :boolean, label: 'Have you recently travelled overseas' %>
        <%= f.input :contact_with_overseas_traveller, as: :boolean, label: 'Have you had contact with an overseas traveller ' %>
      </fieldset>
      <hr>

      <h4>About your health</h4>
      <%= f.input :feels, label: 'Your Health - how are you feeling :' do %>
        <% FEELS_LIST.each do |feel| %>
          <div class="form-check">
            <%= f.check_box :feels, { multiple: true, class: 'form-check-input' }, feel, false %>
            <%= f.label :feels, feel, for: "appointment_feels_#{feel.gsub(' ', '_')}" %>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-6">
            <legend class="col-form-label pt-0">Other</legend>
            <%= f.text_field :feels, multiple: true, class: 'form-control', required: false %>
          </div>
        </div>
        <% if f.full_error(:feels).present? %>
          <div class="invalid-feedback d-block">
            <%= f.full_error :feels %>
          </div>
        <% end %>
      <% end %>

      <%= f.input :pre_exist_health_condition, label: 'Any pre-existing health conditions :' do %>
        <% HEALTH_CONDITION_LIST.each do |health_condition| %>
          <div class="form-check">
            <%= f.check_box :pre_exist_health_condition, { multiple: true, class: 'form-check-input' }, health_condition, false %>
            <%= f.label :pre_exist_health_condition, health_condition, for: "appointment_pre_exist_health_condition_#{health_condition.gsub(' ', '_')}" %>
          </div>
        <% end %>
        <% if f.full_error(:pre_exist_health_condition).present? %>
          <div class="invalid-feedback d-block">
            <%= f.full_error :pre_exist_health_condition %>
          </div>
        <% end %>
      <% end %>

      <hr>
      <div class="mb-5">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

</section>