<% appointment_presenter = AppointmentPresenter.new(@appointment) %>
<% health_provider_presenter = HealthProviderPresenter.new(@appointment.health_provider) %>

<!-- Begin page Content -->
<section class="search-result">
  <div class="container">
    <div class="search-title pt-4 pb-2">
      <h3>Appointment for <%= appointment_presenter.health_provider_name %></h3>
    </div>
    <div class="search-content pb-4"> 
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th colspan="2">Appointment</th>
          </tr>
          <tr>
            <td>Appointment Date</td>
            <td><%= appointment_presenter.appointment_date %></td>
          </tr>
          <tr>
            <td>Appointment Date</td>
            <td><%= appointment_presenter.appointment_time %></td>
          </tr>
          <tr>
            <td>Health Provider Location</td>
            <td><%= link_to 'Go to map', health_provider_presenter.link_to_map %></td>
          </tr>
          <tr>
            <th colspan="2">Contact Details</th>
          </tr>
          <tr>
            <td>Name</td>
            <td><%= appointment_presenter.name %></td>
          </tr>
          <tr>
            <td>Address</td>
            <td><%= appointment_presenter.address %></td>
          </tr>
          <% if appointment_presenter.email.present? %>
            <tr>
              <td>Email</td>
              <td><%= appointment_presenter.email %></td>
            </tr>
          <% end %>
          <% if appointment_presenter.cell_phone.present? %>
            <tr>
              <td>Cell Phone</td>
              <td><%= appointment_presenter.cell_phone %></td>
            </tr>
          <% end %>
          <% if appointment_presenter.home_phone.present? %>
            <tr>
              <td>Phone</td>
              <td><%= appointment_presenter.home_phone %></td>
            </tr>
          <% end %>
          <tr>
            <td>Age</td>
            <td><%= appointment_presenter.age %></td>
          </tr>
          <tr>
            <td>Are you a health care worker</td>
            <td><%= appointment_presenter.health_care_worker %></td>
          </tr>
          <tr>
            <td>Are you an essential services worker</td>
            <td><%= appointment_presenter.essential_services_worker %></td>
          </tr>
          <tr>
            <td>Have you had contact with anyone with Covid-19</td>
            <td><%= appointment_presenter.contact_with_corona %></td>
          </tr>
          <tr>
            <td>Have you recently travelled overseas</td>
            <td><%= appointment_presenter.travel_overseas %></td>
          </tr>
          <tr>
            <td>Have you had contact with an overseas traveller</td>
            <td><%= appointment_presenter.contact_with_overseas_traveller %></td>
          </tr>
          <tr>
            <th colspan="2">About your health</th>
          </tr>
          <% if appointment_presenter.feels.present? %>
            <tr>
              <td>Your Health - how are you feeling</td>
              <td><%= appointment_presenter.feels %></td>
            </tr>
          <% end %>
          <% if appointment_presenter.pre_exist_health_condition.present? %>
            <tr>
              <td>Any pre-existing health conditions</td>
              <td><%= appointment_presenter.pre_exist_health_condition %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>