<section class="corona">
  <div class="corona-header">
    <h2 class="corona-title">COVID-19</h2>
  </div>
  <div class="container">
    <h3>Thank you for sending your details.</h3>
    <p>A Health Professional will be in touch with you very soon to organise a health check at the location you have requested.</p>

    <% unless current_user %>
      <%= link_to new_registration_path, class: 'item-detail' do %>
        <div class="article">
          <p>Sign up to īHono</p>
        </div>
        <i class="fas fa-arrow-right"></i>
      <% end %>
    <% end %>

    <%= link_to corona_root_path, class: 'item-detail' do %>
      <div class="article">
        <p>Back to Covid-19 home</p>
      </div>
      <i class="fas fa-arrow-right"></i>
    <% end %>

  </div>
</section>