<%= simple_form_for rohe, url: url do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :contact %>
  <%= f.input :abstract %>
  <div class="row">
    <div class="col-lg-12">
      <%= f.input :region_ids, as: :select, collection: Region.all.pluck(:name, :id), label: 'Region', input_html: { placeholder: 'Region', multiple: true, class: 'select2-tagging' }, required: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= f.input :iwi_ids, as: :select, collection: Iwi.all.pluck(:name, :id), label: 'Iwi', input_html: { placeholder: 'Iwi', multiple: true, class: 'select2-tagging' }, required: false %>
    </div>
  </div>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>