<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title pt-3">
      <h1><%= @rohe.name %></h1>
      <p><%= @rohe.abstract %></p>
    </div>
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <% if @rohe.region %>
          <li class="breadcrumb-item"><%= link_to @rohe.region.name, region_path(@rohe.region) %></li>
        <% end %>
        <li class="breadcrumb-item active"><%= @rohe.name %></li>
      </ol>
    </nav>
    
    <div class="search-content pb-4">
      <ul class="list-group list-group-flush border-black ">
        <% if @rohe.iwis.present? %>
          <li class="list-group-item chevron-down">
            <a href="#iwis" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              Iwi
            </a>
            <div class="collapse" id="iwis">
              <ul class="list-group list-collapse">
                <% @rohe.iwis.each do |iwi| %>
                  <li class="list-group-item">
                    <%= link_to iwi_path(iwi) do %>
                      <%= iwi.name %> <i class="right fas fa-chevron-right"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>

        <% if @rohe.organisations.present? %>
          <li class="list-group-item chevron-down">
            <a href="#iwi-organisations" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              Iwi Organisations
            </a>
            <div class="collapse" id="iwi-organisations">
              <ul class="list-group list-collapse">
                <% @rohe.organisations.each do |organisation| %>
                  <li class="list-group-item">
                    <%= link_to organisation_path(organisation) do %>
                      <%= organisation.name %> <i class="right fas fa-chevron-right"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>