<!-- Begin page Content -->
<section class="search-result">
  <div class="px-4">
    <div class="search-title mb-3 pt-3">
      <h1>Appointments</h1>
    </div>
    <div class="search-content pb-4">
      <div class="table-responsive table-appointment">
        <%= simple_form_for @search, url: health_admin_appointments_path, method: :get, html: { class: 'mb-5' } do |f| %>
          <table class="table">
            <thead>
              <tr id="sort-filter-wrapper">
                <th class="width-table-name sort-filter <%= SearchAppointment.sort_active(params, 'health_provider') %>" data-sort-type="health_provider" data-sort-position="<%= SearchAppointment.sort_position(params) %>">Health Provider</th>
                <th class="width-table-name sort-filter <%= SearchAppointment.sort_active(params, 'booking_date') %>" data-sort-type="booking_date" data-sort-position="<%= SearchAppointment.sort_position(params) %>">Booking Date</th>
                <th class="width-table-name sort-filter <%= SearchAppointment.sort_active(params, 'name') %>" data-sort-type="name" data-sort-position="<%= SearchAppointment.sort_position(params) %>">Name</th>
                <th class="width-table-name sort-filter <%= SearchAppointment.sort_active(params, 'service_worker') %>" data-sort-type="service_worker" data-sort-position="<%= SearchAppointment.sort_position(params) %>">Service Worker</th>
                <th class="width-table-name sort-filter <%= SearchAppointment.sort_active(params, 'contacted') %>" data-sort-type="contacted" data-sort-position="<%= SearchAppointment.sort_position(params) %>">Travel/Covid-19</th>
                <th class="width-table-name sort-filter <%= SearchAppointment.sort_active(params, 'feels') %>" data-sort-type="feels" data-sort-position="<%= SearchAppointment.sort_position(params) %>">Symptoms</th>
                <th class="width-table-name sort-filter <%= SearchAppointment.sort_active(params, 'pre_exist_health_condition') %>" data-sort-type="pre_exist_health_condition" data-sort-position="<%= SearchAppointment.sort_position(params) %>">Pre-exist</th>
                <th class="width-table-name sort-filter <%= SearchAppointment.sort_active(params, 'age') %>" data-sort-type="age" data-sort-position="<%= SearchAppointment.sort_position(params) %>">Age</th>
                <th class="width-table-name sort-filter <%= SearchAppointment.sort_active(params, 'contacts') %>" data-sort-type="contacts" data-sort-position="<%= SearchAppointment.sort_position(params) %>">Contact Details</th>
                <th class="width-table-name"></th>
                <%= f.input :sort, as: :hidden, input_html: { id: 'sort' } %>
              </tr>
            
              <tr>
                <td><%= f.input :health_provider_id, wrapper: false, collection: SearchAppointment.health_provider_filter, label: false, include_blank: 'All', input_html: { data: { 'select-2-input' => true } } %></td>
                <td><%= f.input :appointment_date, wrapper: false, label: false, placeholder: 'Booking Date', input_html: { class: 'readonly', autocomplete: 'new-date', data: { 'date-range-picker' => true } } %></td>
                <td><%= f.input :name, wrapper: false, label: false, placeholder: 'Search Name' %></td>
                <td><%= f.input :service_worker, wrapper: false, as: :select, label: false, collection: SearchAppointment.service_worker_filter, placeholder: 'Service Worker', include_blank: 'All', input_html: { data: { 'select-2-input' => true } } %></td>
                <td><%= f.input :contacted, wrapper: false, as: :select, label: false, collection: SearchAppointment.contact_covid19_filter, placeholder: 'Contacted', include_blank: 'All', input_html: { data: { 'select-2-input' => true } } %></td>
                <td><%= f.input :symptoms, wrapper: false, as: :select, label: false, collection: SearchAppointment.symptoms_filter, placeholder: 'Symptoms', include_blank: true, input_html: { data: { 'select-2-checkbox' => true }, multiple: true } %></td>
                <td><%= f.input :pre_exist_health_condition, wrapper: false, as: :select, label: false, collection: SearchAppointment.pre_exist_health_condition_filter, placeholder: 'Pre Exist', include_blank: true, input_html: { data: { 'select-2-checkbox' => true }, multiple: true } %></td>
                <td><%= f.input :age, wrapper: false, as: :select, label: false, collection: SearchAppointment.age_filter, placeholder: 'Age', include_blank: true, input_html: { data: { 'select-2-checkbox' => true }, multiple: true } %></td>
                <td><%= f.input :contacts, wrapper: false, as: :select, label: false, collection: SearchAppointment.contact_filter, placeholder: 'Contact', include_blank: true, input_html: { data: { 'select-2-checkbox' => true }, multiple: true } %></td>
                <td class="text-right">
                  <button type="submit" class="btn btn-primary btn-xs">
                    <i class="fas fa-search"></i> <span class="d-none d-sm-inline"> Search</span>
                  </button>
                </td>
              </tr>
            </thead>
            <tbody>
              <% if @appointments.present? %>
                <% @appointments.each do |appointment| %>
                  <% appointment_presenter = AppointmentPresenter.new(appointment) %>
                  <tr>
                    <td scope="row"><%= appointment_presenter.health_provider.name %></td>
                    <td scope="row"><%= appointment_presenter.date_time_booking %></td>
                    <td scope="row"><%= appointment_presenter.name %></td>
                    <td scope="row"><%= appointment_presenter.service_worker %></td>
                    <td scope="row"><%= appointment_presenter.contacted %></td>
                    <td scope="row"><%= appointment_presenter.feels %></td>
                    <td scope="row"><%= appointment_presenter.pre_exist_health_condition %></td>
                    <td scope="row"><%= appointment_presenter.age %></td>
                    <td scope="row" style="line-height: 2;"><%= raw appointment_presenter.contact_details %></td>
                    <td class="text-right">
                      <%= link_to health_admin_appointment_path(appointment), class: 'btn btn-primary btn-xs' do %>
                        <i class="far fa-eye"></i> <span class="d-none d-sm-inline">Show</span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td scope="row" colspan="10">
                    <h4 class="text-center mt-5">No Result Found</h4>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
      <div class="mt-1 text-right"><%= paginate @appointments, theme: 'twitter-bootstrap-4', window: 1 %></div>
    </div>
  </div>
</section>
