@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// library replace config
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '~bootstrap/scss/bootstrap';
@import '~select2/dist/css/select2.min';
@import '@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min';
@import 'jquery-timepicker/jquery.timepicker.css';
@import '@chenfengyuan/datepicker/dist/datepicker.min.css';
@import 'cropperjs/dist/cropper.min.css';
@import 'toastr/toastr';
@import 'select2';

// custom for library
@import '~styles/modules/parsley_error_handler';

// custome shared
@import '~styles/shared/form';
@import '~styles/shared/maps';
@import '~styles/shared/template';
@import '~styles/shared/button';
@import '~styles/shared/common';
@import '~styles/shared/ihono-fonts';
@import '~styles/shared/modal';
@import '~styles/shared/filters';

// page application
@import '~styles/application/corona/health_providers';
@import '~styles/application/corona/user_invitation_signup';

@import 'daterangepicker';