<!-- Filter and Sort -->
<div class="bg-black pb-2">
  <div class="container">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" style="color: white; cursor: pointer;" data-target="#filter-modal" data-type='category' aria-expanded="false">
          FILTER <i class="fas fa-chevron-down"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white; cursor: pointer;" data-target="#filter-modal" data-type='sort' aria-expanded="false">
          SORT <i class="fas fa-chevron-down"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="alert alert-error mb-0" id="not-support-location" style="display: none;">
  Your browser doesn't support geolocation.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<section class="main">
  <div id="search-map" data-google-map-id="<%= ENV['GOOGLE_MAP_API_KEY'] %>"></div>
  <div id="modal-info-map" style="display: none;">
    <div class="header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="body"></div>
  </div>
  <%= hidden_field_tag 'latitude', params['latitude'], id: 'fix-latitude' %>
  <%= hidden_field_tag 'longitude', params['longitude'], id: 'fix-longitude' %>
</section>

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for @search, url: maps_path, remote: true, method: :get do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="filters-category" class="filter-selection">
            <%= f.input :category, as: :check_boxes, collection: SearchMap.category_options(user_present: current_user.present?), multiple: true, label: false %>
          </div>
          <div id="filters-sort" class="filter-selection" style="display: none;">
            <%= f.input :distance, as: :radio_buttons, collection: SearchMap.distance_options, label: false %>
          </div>
          <%= f.input :latitude, as: :hidden %>
          <%= f.input :longitude, as: :hidden %>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    var init_array_data = <%= @results.to_json.html_safe %>
  </script>
<% end %>