<div class="nested-fields">
  <%= f.input :name, label: 'Their Name', required: true, input_html: { class: 'input-name' } %>
  <div class="row" data-parsley-group-required="true" data-parsley-validate-if-empty="" data-parsley-target-group="<%= "contact-#{f.object_id}" %>">
    <div class="col">
      <%= f.input :email, label: 'Their Email', input_html: { class: 'input-email', 'data-parsley-group' => "contact-#{f.object_id}" } %>
    </div>
    <div class="col">
      <%= f.input :phone, label: 'Their Phone', input_html: { class: 'input-phone', 'data-parsley-group' => "contact-#{f.object_id}", data: { phone: true } } %>
    </div>
  </div>
  <hr style="border-color: #AECA36;">
</div>