<section class="main">
  <div class="container pb-5 pt-4">
    <h3>Invite whānau to add their Covid-19 status</h3>
    <p>Enter the email address or mobile number of your whānau members below and they will receive an invitation to sign up and update their Covid-19 status as well</p>
    
    <%= simple_form_for(@user, url: corona_health_status_invitation_signup_path, method: :post, html: { id: 'whanau-contact-details', 'data-parsley-validate' => true }) do |f| %>
      <%= bootstrap_error(@user) %>
      <div class="form-inputs">
        <h3>Whānau contact details</h3>
        <div id="whanau-contact-invited" class="mt-3 mb-3">
          <% @user.send_invitations.reject(&:new_record?).each do |invitation| %>
            <div class="contact p-2">
              <div><%= invitation.name %></div>
              <div><%= [invitation.email, invitation.phone].reject(&:blank?).join(' / ') %></div>
            </div>
          <% end %>
        </div>
        <div id="invitation-signup" class="mb-4">
          <%= f.simple_fields_for :send_invitations, @user.send_invitations.reject(&:persisted?) do |si| %>
            <%= render 'send_invitations_fields', f: si %>
          <% end %>
          <div class="links text-right">
            <%= link_to_add_association f, :send_invitations, partial: 'send_invitations_fields', class: 'btn btn-success btn-sm' do %>
              Add Another Person
            <% end %>
          </div>
        </div>
      </div>

      <hr>
      <div class="form-actions text-center">
        <%= f.button :submit, 'Invite Whānau', class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</section>