<section class="search-result">
  <div class="container px-4">
    <div class="search-title pt-3">
      <h1>NOTIFICATION</h1>
    </div>
    <div class="search-content pb-4">
      <ul class="list-group list-group-flush border-black border-at-bottom notification-list">
        <% @notifications.each do |notification| %>
          <li class="list-group-item"><%= notification_link_message(notification) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
