<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1>Edit Iwi</h1>
    </div>
    <div class="search-content pb-4">
      <%= render partial: 'form', locals: { iwi: @iwi, url: admin_iwi_path(@iwi) } %>
    </div>
  </div>
</section>