<% user = UserPresenter.new(@user) %>
 
<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="profile text-center pt-3">
      <%= image_tag user.user_avatar(:large), class: 'rounded-circle border', style: 'height: 100px; width: 100px;' %>
    </div>
    <div class="search-title pt-3 text-center">
      <h1><%= user.full_name %></h1>
    </div>
    
    <div class="search-content pb-4">
      <ul class="list-group list-group-flush border-black ">
        <% if user.abstract.present? %>
          <li class="list-group-item chevron-down">
            <a href="#abstract" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              INTRODUCTION 
            </a>
            <div class="collapse" id="abstract">
              <p class="mb-2 mt-2">
                <%= user.abstract %>
              </p>
            </div>
          </li>
        <% end %>

        <% if user.lineages.present? %>
          <li class="list-group-item chevron-down">
            <a href="#whakapapa" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              WHAKAPAPA
            </a>
            <div class="collapse" id="whakapapa">
              <% user.lineages.each do |lineage| %>
                <p class="mb-2 mt-2">
                  <b>Iwi</b> : <%= lineage.iwi.name %>
                  <% if lineage.hapu.present? %>
                    <br><b>Hapu</b> : <%= lineage.hapu.name %>
                  <% end %>
                  <% if lineage.whanau.present? %>
                    <br><b>Whānau</b> : <%= lineage.whanau %>
                  <% end %>
                </p>
              <% end %>
              
            </div>
          </li>
        <% end %>

        <% if user.interest.present? %>
          <li class="list-group-item chevron-down">
            <a href="#interests" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              INTERESTS
            </a>
            <div class="collapse" id="interests">
              <p class="mb-2 mt-2"><%= user.interest %></p>
            </div>
          </li>
        <% end %>

        <% if user.work.present? %>
          <li class="list-group-item chevron-down">
            <a href="#work" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              WORK
            </a>
            <div class="collapse" id="work">
              <p class="mb-2 mt-2"><%= user.work %></p>
            </div>
          </li>
        <% end %>

        <% if user.suburb.present? || user.city.present? %>
          <li class="list-group-item chevron-down">
            <a href="#city-town" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              CITY / SUBURB
            </a>
            <div class="collapse" id="city-town">
              <p class="mb-2 mt-2">
                <% if user.city.present? %>
                  <%= "#{user.city} - #{user.suburb}" %>
                <% else %>
                  <%= user.suburb %>
                <% end %>
              </p>
            </div>
          </li>
        <% end %>

        <% if user.postcode.present? %>
          <li class="list-group-item chevron-down">
            <a href="#postcode" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              POSTCODE
            </a>
            <div class="collapse" id="postcode">
              <p class="mb-2 mt-2">
                <%= user.postcode %>
              </p>
            </div>
          </li>
        <% end %>

        <% if user.competency.present? %>
          <li class="list-group-item chevron-down">
            <a href="#te_reo" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              TE REO LEVEL
            </a>
            <div class="collapse" id="te_reo">
              <p class="mb-2 mt-2">
                <%= user.competency %>
              </p>
            </div>
          </li>
        <% end %>

        <% if user.social_media.present? %>
          <li class="list-group-item chevron-down">
            <a href="#social_media" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              SOCIAL MEDIA
            </a>
            <div class="collapse" id="social_media">
              <div class="mb-3 mt-3">
                <%= user.list_social_media %>
              </div>
            </div>
          </li>
        <% end %>

        <% if user.phone.present? && current_user.already_friend?(@user) %>
          <li class="list-group-item chevron-down">
            <a href="#phone" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              PHONE
            </a>
            <div class="collapse" id="phone">
              <div class="mb-3 mt-3">
                <%= user.phone %>
              </div>
            </div>
          </li>
        <% end %>

        <% if user.contact.present? && current_user.already_friend?(@user) %>
          <li class="list-group-item chevron-down">
            <a href="#contact" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              CONTACT
            </a>
            <div class="collapse" id="contact">
              <div class="mb-3 mt-3">
                <%= user.contact %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <div class="mt-4 text-right">
        <%= render partial: 'users/user_invitation_friendships/button', locals: { user_friend: @user } %>
      </div>
    </div>
  </div>
</section>