<%= simple_form_for ([:admin, @health_provider]) do |f| %>
  <%= bootstrap_error(health_provider) %>
  <%= f.input :name, label: 'Health Unit Identifier' %>
  <%= text_field_tag 'pac-input', nil, id: 'pac-input', class: 'controls', placeholder: 'Enter your addresshere', value: f.object.address %>
  <div id="map" class="map-style" data-target='health_provider' data-google-map-id="<%= ENV['GOOGLE_MAP_API_KEY'] %>"></div>
  <div class="hide mb-3">
    <%= f.hidden_field :latitude, readonly: true %>
    <%= f.hidden_field :longitude, readonly: true %>
    <%= f.hidden_field :country, readonly: true %>
    <%= f.hidden_field :suburb, readonly: true %>
    <%= f.hidden_field :postcode, readonly: true %>
  </div>
  <%= f.input :address %>
  <%= f.input :region, collection: HealthProvider::REGION_LIST, include_blank: 'Select Region' %>
  <%= f.input :abstract, label: 'Location details' %>
  <%= f.input :service, collection: HealthProvider::SERVICE_LIST, include_blank: false %>
  <%= f.input :contact, label: 'Contact phone number', as: :string, input_html: { data: { phone: true } } %>
  <%= f.input :allow_appointment, as: :boolean, label: 'Patient can request an appointment' %>
  <h4>Operating hours <abbr title="required">*</abbr>:</h4>
  <%= f.input :open, wrapper: :horizontal_form, label: 'Opens', as: :string, input_html: { value: format_time(f.object.open), class: 'readonly', data: { toggle: 'timepicker' } } %>
  <%= f.input :close, wrapper: :horizontal_form, label: 'Closes', as: :string, input_html: { value: format_time(f.object.close), class: 'readonly', data: { toggle: 'timepicker' } } %>
  
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>