<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1>Health Providers</h1>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= simple_form_for :search, method: :get do |f| %>
          <div class="input-group mb-3">
            <%= f.input :keyword, required: false, label: false, wrapper: false, placeholder: 'search by keyword', input_html: { name: 'keyword', value: params[:keyword] } %>
            <div class="input-group-prepend">
              <%= f.submit :search, class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 text-right">
        <%= link_to 'new health provider', new_admin_health_provider_path, class: 'btn btn-primary btn-md' %>
      </div>
    </div>
    <div class="search-content pb-4">
      <% if @health_providers.present? %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="width-table-name">Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @health_providers.each do |health_provider| %>
                <tr>
                  <td scope="row"><%= health_provider.name %></td>
                  <td class="text-right">
                    <%= link_to edit_admin_health_provider_path(health_provider), class: 'btn btn-primary btn-sm' do %>
                      <i class="far fa-edit"></i> <span class="d-none d-sm-inline">Edit</span>
                    <% end %>
                    <%= link_to admin_health_provider_path(health_provider), data: { confirm: "Are you sure to delete #{health_provider.name}" }, method: :delete, class: 'btn btn-danger btn-sm' do %>
                      <i class="fas fa-trash"></i> <span class="d-none d-sm-inline">Delete</span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <hr/>
        <div class="row">
          <div class="col text-right">
            <span style="display: inline-block">
              <%= paginate @health_providers, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm", window: 1 %>
            </span>
          </div>
        </div>
      <% else %>
        <h4 class="text-center mt-5">No Result Found</h4>
      <% end %>
    </div>
  </div>
</section>

