<%= simple_form_for wharenui, url: url do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :contact, as: :text %>
  <%= f.input :abstract, as: :text %>
  <div class="row">
    <div class="col-lg-12">
      <%= f.input :marae_ids, as: :select, collection: Marae.all.pluck(:name, :id), label: 'Marae', input_html: { placeholder: 'Marae', multiple: true, class: 'select2-tagging' }, required: false %>
    </div>
  </div>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>