<div id="page-search-wrapper">
  <!-- Jumbotron -->
  <div id="landing-section">
    <section class="home-page">
      <div class="jumbotron bg-cover">
        <div class="overlay"></div>
        <div class="container">
          <div class="logo">
            <%= image_tag 'logo.png' %>
          </div>
          <p class="lead mt-1">making connections</p>
          <div class="search-people">
            <div class="input-group" id="search-section-trigger">
              <input type="text" class="form-control border-0" readonly placeholder="Search for people or places">
              <div class="input-group-append">
                <button class="input-group-text bg-white border-0" type="button">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="find">
      <div class="jumbotron bg-map">
        <div class="container">
          <div class="connect">
            <%= link_to maps_path, class: 'btn btn-block rounded-pill mx-auto' do %>
              <span>Find and connect <i class="right fas fa-chevron-right"></i> </span>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    
    <section class="find">
      <div class="jumbotron bg-covid-19">
        <div class="container">
          <div class="connect">
            <%= link_to corona_root_path, id: 'corona-root', class: 'btn btn-block rounded-pill mx-auto' do %>
              <h3>COVID-19 <i class="fas fa-arrow-right mr-3"></i></h3>
              <p>Read Covid-19 News, Book a Medical Checkup, Help and Advice</p>
            <% end %>
          </div>
        </div>
      </div>
    </section>

    <section class="find">
      <div class="jumbotron ihono-post">
        <div class="container">
          <div class="connect">
            <%= link_to posts_path, id: 'ihono-post', class: 'btn btn-block rounded-pill mx-auto' do %>
              <h3>īHono Posts <i class="fas fa-arrow-right mr-3"></i></h3>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="search-section">
    <section class="search"> 
      <div class="container" id="search-group-wrapper">
        <div class="input-group search-input mb-3 pt-3">
          <div class="input-group-prepend search-icon">
            <span class="input-group-text bg-white border-0"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="search by keyword..." id="search-input">
          <div class="input-group-append">
            <button type="reset" class="input-group-text bg-white border-0">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="search-result">
      <div class="container">
        <div class="search-wrapper" id="search-result-wrapper">
          <%= render :partial => 'search/result', collection: @results, as: :result %>
        </div>
      </div>
    </section>
  </div>
</div>