$("<%= escape_javascript(render partial: 'posts/post', collection: @posts).html_safe %>").insertBefore( '#pagination-wrapper' );
$('#pagination-wrapper').replaceWith("<%= escape_javascript(render 'posts/pagination').html_safe %>")