<!-- Begin page Content -->
<% page_presenter = PostPresenter.new(@page) %>
<section class="main">
  <div class="article">
    <div class="article-image">
      <%= image_tag page_presenter.cover_image %>
    </div>
    <div class="container">
      <div class="article-entry pb-4">
        <h1 class="article-title-details"><%= page_presenter.title %></h1>
        <div class="row">
          <div class="col-12">
            <%= image_tag 'line.png', style: 'width: 100%;' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pb-4">
    <div class="article-likes text-right mt-4 mr-2 mr-lg-4">
      &nbsp; 
    </div>
    <div class="article-details">
      <%= raw page_presenter.description %>
    </div>
  </div>
</section>