<div class="nested-fields nested-lineage">
  <%= link_to_remove_association "&times;".html_safe, f, class: 'btn btn-danger btn-sm float-right mb-3' %>
  <div class="clearfix"></div>
  <%= f.input :iwi_id, wrapper: :horizontal_form, collection: @iwis, label: 'Iwi', input_html: { placeholder: '- Select Iwi -', class: 'iwi_id select2-tagging' } %>
  <div class="hapu_id_wrapper">
    <%= f.input :hapu_id, as: :select, wrapper: :horizontal_form, label: 'Hapu', input_html: { placeholder: '- Select Hapu -', class: 'hapu_id select2-tagging', data: { id: f.object.hapu_id } } %>
  </div>
  <%= f.input :whanau, wrapper: :horizontal_form, label: 'Whānau Name', class: 'whanau' %>
  <hr>
</div>