<div class="nested-fields">
  <%= link_to_remove_association "&times;".html_safe, f, class: 'btn btn-danger btn-sm float-right mb-3' %>
  <div class="clearfix"></div>
  <%= f.input :social_media_type, collection: SocialMedia::SOCIAL_MEDIA_TYPE_LIST, wrapper: :horizontal_form, include_blank: 'Select your social media' %>
  <%= f.input :name, wrapper: :horizontal_form, include_blank: 'Name' %>
  <%= f.input :link, as: :url, wrapper: :horizontal_form, include_blank: 'Link' %>
  <hr>
</div>