<% user_presenter = UserPresenter.new(@user) %>
<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1>Edit Profile</h1>
    </div>
    <div class="search-content pb-5">
      <%= simple_form_for @user, url: users_profile_index_path do |f| %>
        <%= bootstrap_error(user_presenter) %>
        
        <div class="form-group">
          <label class="form-control-label">Avatar</label>
          <div class="row cropper-wrapper">
            <div class="col-lg-6 text-center cropper-preview-wrapper">
              <%= image_tag user_presenter.user_avatar(:large), id: "preview_#{user_presenter.id}_avatar_crop" %>
            </div> 
            <div class="col-lg-6">
              <%= f.input :avatar, as: :file, label: false, required: false, hint: 'Max file 5 mb', 
                    input_html: { accept: 'image/*', data: { 'aspect-ratio' => 1, target: "#{user_presenter.id}_avatar_crop" } } %>
              <%= f.input :avatar_crop_x, as: :hidden, input_html: { id: "x_#{user_presenter.id}_avatar_crop" } %>
              <%= f.input :avatar_crop_y, as: :hidden, input_html: { id: "y_#{user_presenter.id}_avatar_crop" } %>
              <%= f.input :avatar_crop_w, as: :hidden, input_html: { id: "w_#{user_presenter.id}_avatar_crop" } %>
              <%= f.input :avatar_crop_h, as: :hidden, input_html: { id: "h_#{user_presenter.id}_avatar_crop" } %>
            </div>
          </div>
        </div>
        <%= f.input :first_name, placeholder: 'First Name', required: false %>
        <%= f.input :last_name, placeholder: 'First Name', required: false %>
        <%= f.input :abstract, label: 'Introduction', placeholder: 'Introduction', required: false %>

        <h4>Whakapapa</h4>
        <div id="whakapapa" class="mb-4">
          <%= f.simple_fields_for :lineages do |ln| %>
            <%= render 'lineage_fields', f: ln %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add Whakapapa', f, :lineages, partial: 'lineage_fields', class: 'btn btn-success btn-sm' %>
          </div>
        </div>

        <%= f.input :interest, label: 'Interests', placeholder: 'Interests', required: false %>
        <%= f.input :work, label: 'Work', placeholder: 'Work', required: false %>
        <%= f.input :city, required: true %>
        <%= f.input :suburb, required: true %>
        <%= f.input :postcode %>
        <%= f.input :competency, as: :radio_buttons, collection: User::COMPETENCY_LIST, label: 'Te reo level', input_html: { placeholder: 'Te reo level' }, required: false %>
        <h4>Social Media</h4>
        <div id="social-media" class="mb-4">
          <%= f.simple_fields_for :social_media do |sm| %>
            <%= render 'social_media_fields', f: sm %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add Social Media', f, :social_media, partial: 'social_media_fields', class: 'btn btn-success btn-sm' %>
          </div>
        </div>
        <%= f.input :phone, label: 'Your phone', placeholder: 'Enter Phone', input_html: { data: { phone: true } } %> 
        <%= f.input :contact %> 
        
        <%= f.submit 'Update', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</section>