{
  "short_name": "īHono",
  "name": "īHono - Making Connections",
  "icons": [
    {
      "src": "<%= asset_path('logo_192.png') %>",
      "type": "image/png",
      "sizes": "192x192"
    },
    {
      "src": "<%= asset_path('logo_512.png') %>",
      "type": "image/png",
      "sizes": "512x512"
    }
  ],
  "start_url": "<%= root_path %>",
  "background_color": "#FFFFFF",
  "display": "standalone",
  "scope": "<%= root_path %>",
  "theme_color": "#aeca36"
}