<section class="corona">
  <div class="corona-header">
    <h2 class="corona-title">COVID-19</h2>
  </div>
  <div class="container">
    
    <%= link_to corona_health_status_invitation_signup_path, class: 'item-detail' do %>
      <div class="article">
        <p>Invite whānau to add a COVID-19 status</p>
      </div>
      <i class="fas fa-arrow-right"></i>
    <% end %>

  </div>
</section>