<!-- Begin page Content -->
<section class="corona">
  <div class="corona-header">
    <h2 class="corona-title">COVID-19</h2>
  </div>
  <div class="container">

    <%= link_to corona_posts_path(search_post: { category: 'Official government updates' }), class: 'item' do %>
      <div class="article">
        <h3>Covid-19 News</h3>
        <p>Read the official updates for Māori and Aotearoa</p>
      </div>
      <i class="fas fa-arrow-right"></i>
    <% end %>

    <%= link_to corona_medical_checkup_path, class: 'item' do %>
      <div class="article">
        <h3>Get a Medical Checkup</h3>
        <p>Find and book with a Māori Health Provider near you</p>
      </div>
      <i class="fas fa-arrow-right"></i>
    <% end %>

    <%= link_to corona_posts_path(search_post: { category: 'Whānau help and advice' }), class: 'item' do %>
      <div class="article">
        <h3>Covid-19 Help & Advice</h3>
        <p>Keep whānau safe and healthy</p>
      </div>
      <i class="fas fa-arrow-right"></i>
    <% end %>

  </div>
</section>