<section class="corona">
  <div class="corona-header">
    <h2 class="corona-title">COVID-19</h2>
  </div>
  <div class="container">
    
    <h4>Find a Māori Health Provider near you</h4>
    <p>
      You can find a Māori Health Provider by searching the map or by selecting from the full list - see below.
    </p>
    <h5>Covid-19 Testing</h5>
    <p>
      All units will be able to test you for covid-19 if:
      <ul>
        <li>You are showing symptoms of Covid-19</li>
        <li>You have been in contact with someone who has Covid-19</li>
        <li>You have arrived from overseas within the last 14 days</li>
      </ul>
    </p>
    <h5>Other medical checkups</h5>
    <p>Some units will also be able carry out other health checkups. Use the filters at the top of each page to show these.</p>

    <div class="mb-5">
      <%= link_to corona_health_provider_maps_path, class: 'item-detail' do %>
        <div class="article">
          <p><i class="fas fa-map"></i> Find providers on the map</p>
        </div>
        <i class="fas fa-arrow-right"></i>
      <% end %>

      <%= link_to corona_health_provider_list_path, class: 'item-detail' do %>
        <div class="article">
          <p><i class="fas fa-list-ul"></i> Find providers from a list</p>
        </div>
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </div>

  </div>
</section>