<footer class="footer">
  <div class="container">
    <% if controller_name == 'two_factor_authentication' %>

    <% elsif current_user %>
      <div class="selectors d-flex justify-content-between">
        <%= link_to root_path, class: "btn button-active" do %>
          <div class="selector-holder">
            <i class="fas fa-home"></i>
          </div>
        <% end %>

        <a tabindex="true" class="btn button-active" id="toogle-current-location">
          <div class="selector-holder">
            <i class="fas fa-map-marker-alt"></i>
            <span id="toogle-no-current-location-marker" style="display: <%= cookies[:userGeolocation].present? ? 'none' : 'block' %>"></span>
          </div>
        </a>

        <%= link_to alternative_redirect(new_post_path), class: "btn button-inactive", id: 'create-post-link' do %>
          <div class="selector-holder">
            <i class="fas fa-pen-square"></i>
          </div>
        <% end %>

        <%= link_to alternative_redirect(favorites_posts_path), class: "btn button-inactive" do %>
          <div class="selector-holder">
            <i class="far fa-heart"></i>
          </div>
        <% end %>

        <%= link_to alternative_redirect(notifications_path), class: "btn button-inactive notification" do %>
          <div class="selector-holder">
            <i class="far fa-bell">
              <%= notification_count %>
            </i>
          </div>
        <% end %>
        
        <a href="#" class="btn button-inactive" id="navToggle">
          <div class="selector-holder">
            <i class="fas fa-bars"></i>
          </div>
        </a>
      </div>
    <% else %>
      <div class="selectors d-flex justify-content-between">
        <div class="btn-wrapper">
          <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-footer' %>
        </div>
        <%= link_to alternative_redirect(new_post_path), class: "btn button-inactive add", id: 'create-post-link' do %>
          <span class="fa-stack">
            <div class="selector-holder">
              <span class="fas fa-circle fa-stack-2x"></span>
              <i class="fas fa-plus fa-stack-1x fa-dark"></i>
            </div>
          </span>
        <% end %>
        <div class="btn-wrapper">
          <%= link_to 'Sign Up', new_registration_path, class: 'btn btn-primary btn-footer' %>
        </div>
      </div>
    <% end %>
  </div>
</footer>
