<!-- As a heading -->
<nav class="navbar fixed-top navbar-dark bg-black <%= 'hidden' if @hide_header %>">
  <div class="container">
    <!-- Arrow Left -->
    <% if show_back_button? %>
      <%= link_to back_link, class: 'icon', 'data-turbolinks' => false do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    <% end %>
    
    <!-- Brand Logo -->
    <%= link_to root_path, class: 'navbar-brand mx-auto logo' do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    
    <!-- Icon Right -->
    <% if show_icon_post? %>
      <%= link_to list_posts_button_path, class: 'icon', id: 'list-post-icon' do %>
        <i class="fas fa-list-ul"></i>
      <% end %>
    <% end %>
  </div>
</nav>