<!-- Menu -->
<div class="navbar-collapse offcanvas-collapse">
  <!-- Close -->
  <span class="d-flex justify-content-end">
    <a href="#" class="text-white" id="navToggle"><i class="fas fa-times fa-lg"></i></a>
  </span>
  <!-- Menu Off-Canvas -->
  <ul class="list-group offcanvas mt-2">
    <li class="list-group-item">
      <%= link_to search_index_path do %>
        <i class="fas fa-search mr-1"></i> Search
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to maps_path do %>
        <i class="fas fa-map-marked-alt mr-1"></i> Map
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to posts_path do %>
        <i class="far fa-newspaper mr-1"></i> Article
      <% end %>
    </li>
    <% if current_user %>
      <hr>
      <li class="list-group-item">
        <%= link_to my_posts_posts_path do %>
          <i class="far fa-list-alt mr-1"></i> My Posts
        <% end %>
      </li>
      <li class="list-group-item">
        <%= link_to users_profile_index_path do %>
          <i class="fas fa-user mr-1"></i> My Profile
        <% end %>
      </li>
      <% if current_user.super_admin? %>
        <li class="list-group-item">
          <a href="#treeview" id="treeViewAdmin" data-toggle="collapse" aria-expanded="<%= open_super_admin_menu? %>">
            <i class="fas fa-cog mr-1"></i>
            <p>
              Admin 
              <i class="right fas fa-chevron-down "></i>
            </p>
          </a>
          <div class="collapse <%= 'show'if open_super_admin_menu? %>" id="treeview">
            <ul class="list-group">
              <li class="list-group-item">
                <%= link_to admin_organisations_path do %>
                  Organisations
                <% end %>
              </li>
              <li class="list-group-item">
                <%= link_to 'User', admin_users_path %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Medical Units', admin_health_providers_path %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Appointments', admin_appointments_path %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Region', admin_regions_path %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Rohe', admin_rohes_path %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Iwi', admin_iwis_path %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Hapu', admin_hapus_path %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Marae', admin_maraes_path %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Wharenui', admin_wharenuis_path %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Pages', admin_pages_path %>
              </li>
            </ul>
          </div>
        </li>
      <% end %>
      <% if current_user.health_admin? %>
        <li class="list-group-item">
          <a href="#treeview" id="treeViewAdmin" data-toggle="collapse" aria-expanded="<%= open_health_admin_menu? %>">
            <i class="fas fa-cog mr-1"></i>
            <p>
              Health Admin 
              <i class="right fas fa-chevron-down "></i>
            </p>
          </a>
          <div class="collapse <%= 'show'if open_health_admin_menu? %>" id="treeview">
            <ul class="list-group">
              <li class="list-group-item">
                <%= link_to 'Medical Units', health_admin_health_providers_path %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Appointments', health_admin_appointments_path %>
              </li>
            </ul>
          </div>
        </li>
      <% end %>
      <li class="list-group-item">
        <a href="#treeviewcorona" id="treeViewCorona" data-toggle="collapse">
          <i class="fas fa-cog mr-1"></i>
          <p>
            Covid-19 
            <i class="right fas fa-chevron-down"></i>
          </p>
        </a>
        <div class="collapse" id="treeviewcorona">
          <ul class="list-group">
            <li class="list-group-item">
              <%= link_to 'Your Appointments', corona_appointments_path %>
            </li>
          </ul>
        </div>
      </li>
      <hr>
    <% else %>
      <li class="list-group-item"><%= link_to 'sign in', new_user_session_path %></li>
      <li class="list-group-item"><%= link_to 'sign up', new_registration_path %></li>
    <% end %>
    <li class="list-group-item">
      <%= link_to page_show_path('about') do %>
        <i class="fas fa-info mr-1"></i> About īHono
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to page_show_path('terms-and-privacy') do %>
        <i class="fas fa-lock mr-1"></i> Terms & Privacy
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to page_show_path('contact-us') do %>
        <i class="far fa-file-alt mr-1"></i> Contact Us
      <% end %>
    </li>
    <% if current_user %>
      <li class="list-group-item">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out-alt mr-1"></i> Signout
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
