<% organisation_presenter = OrganisationPresenter.new(organisation) %>

<%= simple_form_for([:admin, organisation]) do |f| %>
  <%= bootstrap_error(organisation) %>

  <div class="form-group">
    <label class="form-control-label">Organisation Cover</label>
    <div class="row cropper-wrapper">
      <div class="col-lg-7 text-center cropper-preview-wrapper">
        <%= image_tag organisation_presenter.organisation_hero_image(:large), id: "preview_#{organisation_presenter.id}_hero_image_crop" %>
      </div> 
      <div class="col-lg-5 cropper-input-wrapper">
        <%= f.input :hero_image, as: :file, label: false, required: false, hint: 'Max file 5 mb', 
              input_html: { accept: 'image/*', data: { 'aspect-ratio' => (16/9.to_f), target: "#{organisation_presenter.id}_hero_image_crop" } } %>
        <%= f.input :hero_image_crop_x, as: :hidden, input_html: { id: "x_#{organisation_presenter.id}_hero_image_crop" } %>
        <%= f.input :hero_image_crop_y, as: :hidden, input_html: { id: "y_#{organisation_presenter.id}_hero_image_crop" } %>
        <%= f.input :hero_image_crop_w, as: :hidden, input_html: { id: "w_#{organisation_presenter.id}_hero_image_crop" } %>
        <%= f.input :hero_image_crop_h, as: :hidden, input_html: { id: "h_#{organisation_presenter.id}_hero_image_crop" } %>
      </div>
    </div>
  </div>

  <%= f.input :name %>
  <%= f.input :nzbn, label: 'NZBN' %>
  <%= f.input :organisation_type, as: :select, collection: Organisation::TYPE_LIST, include_blank: false %>
  <%= f.input :abstract %>
  <%= f.input :region_ids, as: :select, collection: Region.all.pluck(:name, :id), label: 'Region', input_html: { placeholder: 'Region', multiple: true, class: 'select2-tagging' }, required: false %>
  <%= f.input :rohe_ids, as: :select, collection: Rohe.all.pluck(:name, :id), label: 'Rohe', input_html: { placeholder: 'Rohe', multiple: true, class: 'select2-tagging' }, required: false %>
  <%= f.input :iwi_ids, as: :select, collection: Iwi.all.pluck(:name, :id), label: 'Iwi', input_html: { placeholder: 'Iwi', multiple: true, class: 'select2-tagging' }, required: false %>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>