<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1><%= current_user.super_admin? ? 'Organisations' : 'My Organisations' %></h1>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= simple_form_for :search, method: :get do |f| %>
          <div class="input-group mb-3">
            <%= f.input :keyword, required: false, label: false, wrapper: false, placeholder: 'search by keyword', input_html: { name: 'keyword', value: params[:keyword] } %>
            <div class="input-group-prepend">
              <%= f.submit :search, class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 text-right">
        <% if current_user.present? %>
          <%= link_to 'new organisation', new_admin_organisation_path, class: 'btn btn-primary btn-md' %>
        <% end %>
      </div>
    </div>
    <div class="search-content pb-4">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="width-table-name">Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @organisations.each do |organisation| %>
              <tr>
                <td>
                  <%= organisation.name %>
                  <br/>
                  <b><%= organisation.organisation_type %></b>
                </td>
                <td class="text-right">
                  <%= link_to admin_organisation_locations_path(organisation), class: 'btn btn-warning btn-sm' do %>
                    <i class="fas fa-map-marker-alt"></i> <span class="d-none d-sm-inline">Location</span>
                  <% end %>
                  <%= link_to organisation_path(organisation), class: 'btn btn-success btn-sm' do %>
                    <i class="far fa-eye"></i> <span class="d-none d-sm-inline">Show</span>
                  <% end %>
                  <%= link_to edit_admin_organisation_path(organisation), class: 'btn btn-primary btn-sm' do %>
                    <i class="far fa-edit"></i> <span class="d-none d-sm-inline">Edit</span>
                  <% end %>
                  <%= link_to admin_organisation_path(organisation), data: { confirm: "Are you sure to delete #{organisation.name}" }, method: :delete, class: 'btn btn-danger btn-sm' do %>
                    <i class="fas fa-trash"></i> <span class="d-none d-sm-inline">Delete</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="mt-1 text-right"><%= paginate @organisations, theme: 'twitter-bootstrap-4', window: 1 %></div>
    </div>
  </div>
</section>