<% organisation_presenter = OrganisationPresenter.new(@organisation) %>

<!-- Begin page Content -->
<section class="search-result">
  <% if organisation_presenter.organisation_hero_image(:large).present? %>
    <div class="search-image">
      <%= image_tag organisation_presenter.organisation_hero_image(:large) do %>
        <i class="far fa-image search-image-icon"></i>
      <% end %>
    </div>
  <% end %>
  <div class="container">
    <div class="search-title pt-3">
      <h1><%= organisation_presenter.name %></h1>
    </div>
    
    <div class="search-content pb-5">
      <ul class="list-group list-group-flush border-black ">
        <% if organisation_presenter.abstract.present? %>
          <li class="list-group-item chevron-down">
            <a href="#abstract" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              About 
            </a>
            <div class="collapse" id="abstract">
              <div  class="mb-2 mt-2">
                <%= organisation_presenter.abstract %>
              </div>
            </div>
          </li>
        <% end %>
        <% if organisation_presenter.regions.present? %>
          <li class="list-group-item chevron-down">
            <a href="#region" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              Region
            </a>
            <div class="collapse" id="region">
              <p class="mb-2 mt-2"><%= organisation_presenter.regions.pluck(:name).join(' / ') %></p>
            </div>
          </li>
        <% end %>
        <% if organisation_presenter.rohes.present? %>
          <li class="list-group-item chevron-down">
            <a href="#rohe" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              Rohe
            </a>
            <div class="collapse" id="rohe">
              <p class="mb-2 mt-2"><%= organisation_presenter.rohes.pluck(:name).join(' / ') %></p>
            </div>
          </li>
        <% end %>
        <% if organisation_presenter.iwis.present? %>
          <li class="list-group-item chevron-down">
            <a href="#iwi" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              Iwi
            </a>
            <div class="collapse" id="iwi">
              <p class="mb-2 mt-2"><%= organisation_presenter.iwis.pluck(:name).join(' / ') %></p>
            </div>
          </li>
        <% end %>
        <% if organisation_presenter.locations.present? %>
          <li class="list-group-item chevron-down">
            <a href="#location" class="font-weight-bold" data-toggle="collapse" aria-expanded="false">
              Locations
            </a>
          </li>
          <div class="collapse list-new-details" id="location">
            <% organisation_presenter.locations.each do |location| %>
              <div class="media">
                <div class="media-body ml-2 mt-3">
                  <% if location.address.present? %>
                    <b>Address :</b> <%= location.address %><br/>
                  <% end %>
                  <% if location.suburb.present? %>
                    <b>Suburb :</b> <%= location.suburb %><br/>
                  <% end %>
                  <% if location.postcode.present? %>
                    <b>Post Code :</b> <%= location.postcode %><br/>
                  <% end %>
                  <% if location.contact.present? %>
                    <b>Contact :</br></b>
                    <%= simple_format(auto_link(location.contact)).html_safe %>
                  <% end %>
                </div>
                <%= link_to 'MAP ', google_maps_tag_location(location.latitude, location.longitude), target: '_blank', class: 'btn btn-ihono align-self-center ml-2' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</section>
