<% iwi = IwiPresenter.new(@iwi) %>

<!-- Begin page Content -->
<section class="search-result">
  <div class="container">
    <div class="search-title pt-4 pb-2">
      <h1><%= iwi.name %></h1>
      <div class="search-icon">
        <i class="<%= iwi.get_icon %> mx-2"></i> Iwi
      </div>
    </div>
    
    <div class="search-content pb-4">
      <ul class="list-group list-group-flush border-black list-group-structure">
        <li class="list-group-item">
          <a href="#" class="ml-2">
            <b>Rohe:</b> <%= iwi.get_rohes %>
          </a>
        </li>

        <li class="list-group-item chevron-down">
          <a href="#whakapapa_list" class="font-weight-bold ml-2" data-toggle="collapse" aria-expanded="false">
            Iwi 
          </a>
        </li>
        <!-- collapse -->
        <div class="collapse" id="whakapapa_list">
          <ul class="list-group list-collapse list-new-search ml-3">
            <% iwi.get_whakapapa_structure.each do |iwi| %>
              <li class="list-group-item">
                <a href="#iwi_<%= iwi[:id] %>" class="<%= 'active-list' if iwi[:active] %>" data-toggle="collapse" aria-expanded="false">
                  <span><%= iwi[:name] %></span> <%= '<i class="right fas fa-chevron-down"></i>'.html_safe if iwi[:data_hapu].present? %>
                </a>
              </li>
              <% if iwi[:data_hapu].present? %>
                <div class="collapse" id="iwi_<%= iwi[:id] %>">
                  <ul class="list-group list-collapse list-new-search">
                    <li class="list-group-item">
                      <a class="font-weight-bold">
                        Hapū: <i class="right fas fa-chevron-down"></i>
                      </a>
                    </li>
                    <% iwi[:data_hapu].each do |hapu| %>
                      <li class="list-group-item ml-2">
                        <a href="#hapu_<%= hapu[:id]%>" data-toggle="collapse" aria-expanded="false">
                          <span><%= hapu[:name] %></span> <%= '<i class="right fas fa-chevron-down"></i>'.html_safe if hapu[:data_marae].present? %>
                        </a>
                      </li>
                      <% if hapu[:data_marae].present? %>
                        <div class="collapse list-new-details" id="hapu_<%= hapu[:id]%>">
                          <% hapu[:data_marae].each do |marae| %>
                            <div class="media">
                              <div class="media-body ml-2">
                                <h6 class="mt-3 mb-0"><span><%= marae[:name] %></span></h6>
                                <p><%= marae[:address] %> <br />
                                <b>Wharenui:</b> <%= marae[:data_wharenuis] %></p>
                              </div>
                              <%= link_to 'MAP ', google_maps_tag_location(marae[:latitude], marae[:longitude]), target: '_blank', class: 'btn btn-ihono align-self-center ml-2' %>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>
        <!-- ./collapse -->

        <% if iwi.maraes.present? %>
          <li class="list-group-item chevron-down">
            <a href="#maraes_list" class="font-weight-bold ml-2" data-toggle="collapse" aria-expanded="false">
              Marae
            </a>
          </li>
          <!-- collapse -->
          <div class="collapse" id="maraes_list">
            <% iwi.maraes.each do |marae| %>
              <div class="media">
                <div class="media-body ml-2">
                  <h6 class="mt-3 mb-0"><span><%= marae.name %></span></h6>
                  <p><%= marae[:address] %> <br />
                  <b>Wharenui:</b> <%= marae.wharenuis.pluck(:name).join(', ') %></p>
                </div>
                <%= link_to 'MAP ', google_maps_tag_location(marae.latitude, marae.longitude), target: '_blank', class: 'btn btn-ihono align-self-center ml-2' %>
              </div>
            <% end %>
          </div>
          <!-- ./collapse -->
        <% end %>

        <% if iwi.organisations.present? %>
          <li class="list-group-item chevron-down">
            <a href="#organisation_list" class="font-weight-bold ml-2" data-toggle="collapse" aria-expanded="false">
              Organisation 
            </a>
          </li>
          <!-- collapse -->
          <div class="collapse list-new-details" id="organisation_list">
            <% iwi.organisations.each do |organisation| %>
              <% organisation.locations.each do |location| %>
                <div class="media">
                  <div class="media-body ml-2 mt-3">
                    <h5 class="mt-1 mb-2"><span><%= organisation.name %></span></h5>
                    <b>Organisation Type : </b><%= organisation.organisation_type %><br/>
                    <% if location.address.present? %>
                      <b>Address :</b> <%= location.address %><br/>
                    <% end %>
                    <% if location.suburb.present? %>
                      <b>Suburb :</b> <%= location.suburb %><br/>
                    <% end %>
                    <% if location.postcode.present? %>
                      <b>Post Code :</b> <%= location.postcode %><br/>
                    <% end %>
                    <% if location.contact.present? %>
                      <b>Contact :</br></b>
                      <%= simple_format(auto_link(location.contact)).html_safe %>
                    <% end %>
                  </div>
                  <%= link_to 'MAP ', google_maps_tag_location(location.latitude, location.longitude), target: '_blank', class: 'btn btn-ihono align-self-center ml-2', target: '_blank' %>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- ./collapse -->
        <% end %>
      </ul>
    </div>
  </div>
</section>