<%= simple_form_for marae, url: url do |f| %>
  <%= bootstrap_error(marae) %>

  <%= f.input :name, required: true %>
  <%= text_field_tag 'pac-input', nil, id: 'pac-input', class: 'controls', placeholder: 'Enter your addresshere', value: f.object.address %>
  <div id="map" class="map-style" data-target='marae' data-google-map-id="<%= ENV['GOOGLE_MAP_API_KEY'] %>"></div>
  <div class="hide">
    <%= f.hidden_field :latitude, readonly: true %>
    <%= f.hidden_field :longitude, readonly: true %>
    <%= f.hidden_field :country, readonly: true %>
  </div>
  <%= f.input :address %>
  <%= f.input :suburb %>
  <%= f.input :postcode %>
  <%= f.input :contact %>
  <%= f.input :abstract %>
  <%= f.input :iwi_ids, as: :select, collection: Iwi.all.pluck(:name, :id), label: 'Iwi', input_html: { placeholder: 'Iwi', multiple: true, class: 'select2-tagging' }, required: false %>
  <%= f.input :hapu_ids, as: :select, collection: Hapu.all.pluck(:name, :id), label: 'Hapu', input_html: { placeholder: 'Hapu', multiple: true, class: 'select2-tagging' }, required: false %>
  <%= f.input :wharenui_ids, as: :select, collection: Wharenui.all.pluck(:name, :id), label: 'Wharenui', input_html: { placeholder: 'Wharenui', multiple: true, class: 'select2-tagging' }, required: false %>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>