<section class="search-result">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'text-center border border-light p-3' }) do |f| %>
          <h1 class="h4 mb-4">Change your password</h1>
          <%= bootstrap_error(resource) %>
          <%= f.input :reset_password_token, as: :hidden %>

          <%= f.input :password,
                    label: false,
                    placeholder: 'New password',
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "new-password" } %>

          <%= f.input :password_confirmation, label: false, placeholder: "Confirm your new password", required: true %>

          <%= f.button :submit, 'Change my password', class: 'btn btn-info btn-block my-4' %>
          <p>
            Already Signed Up? <%= link_to "Login", new_session_path(resource_name) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>
