<section class="search-result">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'text-center border border-light p-3' }) do |f| %>
          <h1 class="h4 mb-4">Forgot your password?</h1>
          <%= bootstrap_error(resource) %>
          <%= f.input :email,
                          required: true,
                          autofocus: true,
                          placeholder: 'Email',
                          label: false,
                          input_html: { autocomplete: "email" } %>

          <%= f.button :submit, 'Send reset password instructions', class: 'btn btn-info btn-block my-4' %>
          <p>
            Already Signed Up? <%= link_to "Login", new_session_path(resource_name) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>
