<%= link_to toggle_favorite_post_path, id: "favorite_post_#{post_id}", method: :put, remote: true do %>
  <i class="<%= "#{favorite ? 'fa activated' : 'far'} fa-heart mr-1" %>"></i> Favorite
<% end %>