
<%= simple_form_for(@post, html: { id: 'post-form' }) do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :hero_image, as: :file, hint: 'Max image size 3 MB', input_html: { accept: 'image/*' } %>
    <div class="quill-editor" data-image-base-url="<%= ENV['AWS_BUCKET_NAME'] %>" data-target="#post_content"><%= raw f.object.content %></div>
    <%= f.input :content, as: :hidden %>
    <%= f.input :post_type, as: :grouped_select, collection: type_list_input, include_blank: false, group_method: :last %>
    <div id="post-type-toggle">
      <%= f.input :region_id, as: :select, collection: Region.name_first.pluck(:name, :id), include_blank: 'Select Region' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
