<%= link_to toggle_like_post_path, id: "like_counter_post_#{post.id}", method: :put, remote: true do %>
  <i class="<%= "#{current_user && current_user.post_like?(@post) ? 'fa activated' : 'far'} fa-thumbs-up mr-1" %>"></i>
  <span id="post_total_likes_<%= post.id %>"><%= post.total_user_likes %></span>
<% end %>