<% if current_user %>
  <%= render partial: 'like', locals: { like: current_user.post_like?(@post), post_id: @post.id } %>
  <%= render partial: 'favorite', locals: { favorite: current_user.post_favorite?(@post), post_id: @post.id } %>
<% else %>
  <%= link_to new_user_session_path(redirect_to: post_url(@post)) do %>
    <i class="far fa-thumbs-up mr-1"></i> Like
  <% end %>
  <%= link_to new_user_session_path(redirect_to: post_url(@post)) do %>
    <i class="far fa-heart mr-1"></i> Favorite
  <% end %>
<% end %>
<a href="#article-share" data-toggle="modal"><i class="fas fa-share-alt mr-1"></i> Share</a>