<div id="pagination-wrapper">
  <%= link_to_next_page @posts, '', remote: true, id: 'next-page' do %>
    <div class="article article-index">
      <h3 class="mt-5 mb-5 text-center">No more posts</h3>
    </div>
  <% end %>
</div>