<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1>My Posts</h1>
    </div>
    <div class="search-content pb-4">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="width-table-name">Title</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td scope="row"><%= post.title %></td>
                <td class="text-right">
                  <%= link_to post_path(post), class: 'btn btn-success btn-sm' do %>
                    <i class="far fa-eye"></i> <span class="d-none d-sm-inline">Show</span>
                  <% end %>
                  <%= link_to edit_post_path(post), class: 'btn btn-primary btn-sm' do %>
                    <i class="far fa-edit"></i> <span class="d-none d-sm-inline">Edit</span>
                  <% end %>
                  <%= link_to post_path(post), data: { confirm: "Are you sure to delete #{post.title}" }, method: :delete, class: 'btn btn-danger btn-sm' do %>
                    <i class="fas fa-trash"></i> <span class="d-none d-sm-inline">Delete</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="mt-1 text-right"><%= paginate @posts, theme: 'twitter-bootstrap-4', window: 1 %></div>
    </div>
  </div>
</section>