<% post_presenter = PostPresenter.new(@post) %>
$('#like_post_<%= post_presenter.id %>').replaceWith('<%= escape_javascript(render partial: "like", locals: { like: @like, post_id: post_presenter.id }).html_safe %>');
$('#like_counter_post_<%= post_presenter.id %>').replaceWith('<%= escape_javascript(render partial: "like_counter", locals: { post: post_presenter }).html_safe %>');