<% if current_user %>
  <% remote = defined?(data_remote) ? data_remote : true %>
  <% redirect_to = defined?(redirect_to) ? redirect_to : nil %>
    <span id="button_friendship_<%= user_friend.id %>">
      <% if current_user.already_friend?(user_friend) %>
        <%= link_to 'Unfriend', unfriend_users_user_invitation_friendships_path(user_friend, redirect_to: redirect_to), remote: remote, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure to unfriend?' } %>
      <% else %>
        <% if current_user != user_friend %>
          <% if current_user.already_has_invite_friend?(user_friend) %>
            <% if current_user.get_invite_friend(user_friend).request_by == current_user %>
              <%= link_to 'Cancel Request', destroy_users_user_invitation_friendships_path(user_friend, redirect_to: redirect_to), remote: remote, method: :delete, class: 'btn btn-danger' %>
            <% else %>
              <%= link_to 'Accept', update_users_user_invitation_friendships_path(user_friend, 'accept', redirect_to: redirect_to), remote: remote, method: :put, class: 'btn btn-success btn-sm', data: { confirm: 'Are you sure to accept request connect?' } %>
              <%= link_to 'Reject', update_users_user_invitation_friendships_path(user_friend, 'reject', redirect_to: redirect_to), remote: remote, method: :put, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure to reject request connect?' } %>
            <% end %>
          <% else %>
            <%= link_to 'Connect', create_users_user_invitation_friendships_path(user_friend, redirect_to: redirect_to), remote: remote, method: :post, class: 'btn btn-success' %>
          <% end %>
        <% end %>
      <% end %>
    </span>
<% else %>
  <%= link_to 'Connect', new_user_session_path(redirect_to: user_url(user_friend)), class: 'btn btn-success' %>
<% end %>