<section class="main">
  <div class="container">
    <table class="table table-borderless">
      <tbody>
        <% @user_invitation_friendships.each do |friendship| %>
          <tr>
            <td><%= link_to friendship.user.full_name, friendship.user %></td>
            <td>
              <%= render partial: 'users/user_invitation_friendships/button', locals: { user_friend: friendship.user, data_remote: false, redirect_to: users_user_invitation_friendships_url } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>