<%= simple_form_for region, url: url do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :contact %>
  <%= f.input :abstract %>
  <div class="row">
    <div class="col-lg-12">
      <%= f.input :rohe_ids, as: :select, collection: Rohe.all.pluck(:name, :id), label: 'Rohe', input_html: { placeholder: 'Rohe', multiple: true, class: 'select2-tagging' }, required: false %>
    </div>
  </div>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>