
<%= simple_form_for(@user, url: @user.new_record? ? admin_users_path : admin_user_path(@user)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :role, collection: User.roles.keys, include_blank: false %>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
