<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-5 pt-3">
      <h1>Editing User</h1>
    </div>
    <div class="search-content pb-4">
      <%= render 'form', user: @user %>
    </div>
  </div>
</section>
