<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1>Users</h1>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= simple_form_for :search, method: :get do |f| %>
          <div class="input-group mb-3">
            <%= f.input :keyword, required: false, label: false, wrapper: false, placeholder: 'search by keyword', input_html: { name: 'keyword', value: params[:keyword] } %>
            <div class="input-group-prepend">
              <%= f.submit :search, class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="search-content pb-4">
      <% if @users.present? %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col d-sm-none d-xs-none">Full Name</th>
                <th scope="col d-sm-none d-xs-none">Email</th>
                <th>Role</th>
                <th></th>
              </tr>
            </thead> 
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td scope="row d-sm-none d-xs-none"><%= link_to user.full_name, user_path(user) %></td>
                  <td scope="row d-sm-none d-xs-none"><%= user.email %></td>
                  <th scope="row"><%= user.role %></th>
                  <td>
                    <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-primary btn-sm' %>
                    <%= link_to 'Delete', admin_user_path(user), data: { confirm: "Are you sure to delete #{user.name}" }, method: :delete, class: 'btn btn-danger btn-sm' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <hr/>
        <div class="row">
          <div class="col text-right">
            <span style="display: inline-block">
              <%= paginate @users, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm", window: 1 %>
            </span>
          </div>
        </div>
      <% else %>
        <h4 class="text-center mt-5">No Result Found</h4>
      <% end %>
    </div>
  </div>
</section>
