<ul class="list-group list-group-flush border-black list-group-structure">
  <% results.each do |region_name, health_providers| %>
    <div data-region="<%= region_name %>">
      <li class="list-group-item">
        <a href="#region_<%= region_name.downcase.gsub(' ', '_') %>" data-toggle="collapse" aria-expanded="false">
          <span><%= region_name %></span> <%= '<i class="right fas fa-chevron-down"></i>'.html_safe %>
        </a>
      </li>
      <div class="collapse list-new-details" id="region_<%= region_name.downcase.gsub(' ', '_') %>">
        <% health_providers.each do |health_provider| %>
          <div class="media">
            <div class="media-body ml-2">
              <h6 class="mt-3 mb-0"><span><%= health_provider[:name] %></span></h6>
              <p><%= raw health_provider[:short_abstract] %></p>
            </div>
            <%= link_to 'MAP ', health_provider[:link_to_map], target: '_blank', class: 'btn btn-ihono align-self-center ml-2' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</ul>