<section class="corona">
  <div class="corona-header mb-0">
    <h2 class="corona-title">COVID-19</h2>
  </div>

  <!-- Filter and Sort -->
  <div class="bg-black pb-2 pt-2" id="filter-search-section-health-provider">
    <div class="container">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a href="#" class="nav-link" style="color: white; cursor: pointer;" data-target="#filter-modal" data-toggle="modal" data-type='category' aria-expanded="false">
            CATEGORY <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" style="color: white; cursor: pointer;" data-target="#filter-modal" data-toggle="modal" data-type='sort' aria-expanded="false">
            SORT <i class="fas fa-chevron-down"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="alert alert-error mb-0" id="not-support-location" style="display: none;">
    Your browser doesn't support geolocation.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="container pb-3 pt-3">
    <h5>Māori Health Provider</h5>

    <div id="search-section-health-provider">
      <section class="search"> 
        <div id="search-group-wrapper">
          <div class="input-group search-input mb-4 pt-3">
            <div class="input-group-prepend search-icon">
              <span class="input-group-text bg-white border-0 pl-0"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" id="search-section-health-provider-input" class="form-control" placeholder="search for a region" id="search-input">
            <div class="input-group-append">
              <button type="reset" id="search-section-health-provider-reset" class="input-group-text bg-white border-0">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div id="health-provider-list-result" class="search-content">
      <%= render partial: 'row_list', locals: { results: @results } %>
    </div>
  </div>

</section>

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for @search, url: corona_health_provider_list_path, remote: true, method: :get do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filter <span id="title"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="filters-category" class="filter-selection">
            <%= f.input :category, as: :radio_buttons, collection: SearchMapHealthProvider.category_options, multiple: true, label: false %>
          </div>
          <div id="filters-sort" class="filter-selection" style="display: none;">
            <%= f.input :distance, as: :radio_buttons, collection: SearchMapHealthProvider.distance_options, label: false %>
          </div>
          <%= f.input :latitude, as: :hidden, input_html: { id: 'search_map_latitude' } %>
          <%= f.input :longitude, as: :hidden, input_html: { id: 'search_map_longitude' } %>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
