$('#health-provider-list-result').html('<%= escape_javascript(render partial: "row_list", locals: { results: @results }).html_safe %>');

showHideFilterHealthProviderList();
$('#filter-modal').modal('hide');
