<!-- Begin page Content -->
<section class="search-result">
  <div class="container px-4">
    <div class="search-title pt-3">
      <h1><%= @region.name %></h1>
      <p><%= @region.abstract %></p>
      <p>The <%= @region.name %> region consists of the following iwi Groups :</p>
    </div>
    
    <div class="search-content pb-4">
      <ul class="list-group list-group-flush border-black">
        <% @region.iwis.each do |iwi| %>
          <li class="list-group-item">
            <%= link_to iwi_path(iwi) do %>
              <%= iwi.name %> <i class="right fas fa-chevron-right"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>