<!DOCTYPE html>
<html>
  <head>
    <title>Ihono</title>
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#aeca36">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="google-site-verification" content="kr0fQoHG-WjZK9C9ACHV2BTMx0Y_kEfh4hEnrgIinBM" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= @id_class %>" data-ip-api="<%= ENV['IP_API'] %>">
    <%= toastr_flash_flash %>
    
    <%= render 'layouts/application/header' %>
    <%= yield(:header) if content_for?(:header) %>
    
    <%= yield %>

    <%= render 'layouts/application/footer' %>
    <%= render 'layouts/application/menu' %>
    
    <%= yield(:javascripts) if content_for?(:javascripts) %>
    <%= render 'layouts/application/google_analytics' %>
  </body>
</html>
