<section class="search-result">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <%= simple_form_for(resource, as: resource_name, url: registration_path, html: { class: 'text-center border border-light p-3' }) do |f| %>
          <h1 class="h4 mb-4">Sign Up</h1>
          <%= bootstrap_error(resource) %>
          <%= f.input :user_invitation_signup_token, as: :hidden %>

          <div class="text-left">
            <%= f.input :email,
                          required: true,
                          autofocus: true,
                          placeholder: 'Email',
                          input_html: { autocomplete: "email" } %>
          </div>

          <%= f.button :submit, 'Submit', class: 'btn btn-info btn-block my-4', id: 'log-submit' %>
          <p>
            Already Signed Up? <%= link_to "Login", new_session_path(resource_name) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>
