<section class="search-result">
  <div class="container px-4">
    <div class="search-title mb-3 pt-3">
      <h1>New Health Provider</h1>
    </div>
    <div class="search-content pb-4">
      <%= render partial: 'form', locals: { health_provider: @health_provider } %>
    </div>
  </div>
</section>